
.home-all{
  background-color: #153F99;
  margin: 0;
  padding: 0;

}

app-side-bar-director {
  position: relative; /* asegura que la posición del elemento se base en su posición original */
  z-index: 9999; /* establece un valor alto para asegurar que el elemento aparezca encima de otros elementos */
}

