
.home-all{
  background-color: #153F99;
  margin: 0;
  padding: 0;

}

p{
  font-family: 'Times New Roman', Times, serif;

}
mat-label{
font-family: 'Times New Roman', Times, serif;
}
input{
font-family: 'Times New Roman', Times, serif;
}
button{
font-family: 'Times New Roman', Times, serif;
}
title{
font-family: 'Times New Roman', Times, serif;
}
text{
font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
  }

  h2{
    font-family: 'Times New Roman', Times, serif;
  }
  h3 {
    font-family: 'Times New Roman', Times, serif;
  }
  h4{
    font-family: 'Times New Roman', Times, serif;
  }
  h5{
    font-family: 'Times New Roman', Times, serif;
  }
  h6{
    font-family: 'Times New Roman', Times, serif;
  } 
  mat-paginator{
    font-family: 'Times New Roman', Times, serif;
  }
  li{
    font-family: 'Times New Roman', Times, serif;
  }
  .mat-stepper-horizontal {
    font-family: 'Times New Roman', Times, serif;

  }

  td{
    font-family: 'Times New Roman', Times, serif;
  }

  th{
    font-family: 'Times New Roman', Times, serif;
  }

app-side-bar-empresarial {
  position: relative; /* asegura que la posición del elemento se base en su posición original */
  z-index: 9999; /* establece un valor alto para asegurar que el elemento aparezca encima de otros elementos */
}

