<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista Productos</title>
</head>

<body class="bodyL">
  <h1><strong>APROBACIÓN DE ESTUDIANTES </strong></h1>

  <mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Fase 1</ng-template>
      <form [formGroup]="tresFormGroup">
        <ng-template matStepLabel>Fase 3</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>
            <div>
              <h1 style="text-align: center;"> Listado Solicites </h1>
              <table mat-table [dataSource]="dataF1" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nro. Solicitud</th>
                  <td mat-cell *matCellDef="let practicasSolicitud"> {{practicasSolicitud.idSolicitudPracticas}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                  <td mat-cell *matCellDef="let practicasSolicitud"> {{practicasSolicitud.fechaEnvioSolicitud}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Aceptacion </th>
                  <td mat-cell *matCellDef="let practicasSolicitud"> {{practicasSolicitud.fechaAceptacion}}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
                  <td mat-cell *matCellDef="let practicasSolicitud"> {{practicasSolicitud.estadoSolicitud}}</td>
                </ng-container>
                <!-- Symbol Column -->

                <ng-container matColumnDef="symbol" bol>
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Solicitudes</th>
                  <td mat-cell *matCellDef="let practicasSolicitud"> <button mat-raised-button color="primary"
                      matStepperNext (click)="seleccionarConvocatoria(practicasSolicitud)">Seleccionar</button></td>

                </ng-container>



                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let rows; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator #paginator2 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons
                aria-label="Select page of solicitudes">
              </mat-paginator>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <!--  TENER EN CUENTA QUE ESTA PARTE FALTA VALIDAR EL firstFormGroup-->
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fase 3</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>
            <div>
              <h1 style="text-align: center;"> Lista de Estudiantes </h1>
              <table mat-table [dataSource]="dataTabla" class="mat-elevation-z8">
          
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Aceptacion </th>
                  <td mat-cell *matCellDef="let listaSolicitudesAprobadas"> {{listaSolicitudesAprobadas.fechaAprobacion}} </td>
                </ng-container>
                <ng-container matColumnDef="carrera">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombres </th>
                  <td mat-cell *matCellDef="let listaSolicitudesAprobadas"> {{listaSolicitudesAprobadas.estudiantePracticante
                    .usuario_estudiante_practicante.nombres}}</td>
                </ng-container>

                <ng-container matColumnDef="esta">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellidos </th>
                  <td mat-cell *matCellDef="let listaSolicitudesAprobadas">{{listaSolicitudesAprobadas.estudiantePracticante
                  .usuario_estudiante_practicante.apellidos}}</td>
                </ng-container>

                <ng-container matColumnDef="sy" bol>
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera </th>
                  <td mat-cell *matCellDef="let listaSolicitudesAprobadas">{{listaSolicitudesAprobadas.estudiantePracticante
                  .usuario_estudiante_practicante.carrera}}</td>

                </ng-container>

                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;">Aprobar</th>
                  <td mat-cell *matCellDef="let listaSolicitudesAprobadas"> <button mat-raised-button color="primary"   (click)="selectedestudinate()"
                    >Aprobar</button> </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
                <tr mat-row *matRowDef="let rows; columns: dColumns;"></tr>
              </table>
              <mat-paginator #paginator2 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons
                aria-label="Select page of solicitudes">
              </mat-paginator>
            </div>
            <div style="margin-top:25px; text-align: center;">
              <button style="margin-right: 12px"mat-raised-button color="primary" matStepperPrevious>
              Back</button>
              <button style="margin-right: 12px"mat-raised-button color="primary" matStepperNext (click)="buscarAprobados()">
                Ver Estudiantes Aprobados</button>
          </div>
          </mat-card>
        </div>
      </form>

    </mat-step>


    <mat-step [stepControl]="tresFormGroup">
      <div>
        <h1 style="text-align: center;"> Estudiantes Aprobados </h1>
        <ng-container *ngIf="datosCargadosAprobados">
            <table mat-table [dataSource]="datosTablaAprobados" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="id" >
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" hidden> id</th>
                    <td mat-cell *matCellDef="let datosTablaAprobados" hidden> {{datosTablaAprobados.id}} </td>
                </ng-container>
                <ng-container matColumnDef="nombres">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombres</th>
                    <td mat-cell *matCellDef="let datosTablaAprobados"> {{datosTablaAprobados.nombres}} </td>
                </ng-container>
                <ng-container matColumnDef="apellidos">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellidos</th>
                    <td mat-cell *matCellDef="let datosTablaAprobados"> {{datosTablaAprobados.apellidos }} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="fecha">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                    <td mat-cell *matCellDef="let datosTablaAprobados"> {{datosTablaAprobados.fecha}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="carrera">
                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera</th>
                    <td mat-cell *matCellDef="let datosTablaAprobados"> {{datosTablaAprobados.carrera}}</td>
                </ng-container>

                
                <tr mat-header-row *matHeaderRowDef="['id','nombres', 'apellidos', 'carrera','fecha']"></tr>
                <tr mat-row *matRowDef="let row; columns: ['id','nombres', 'apellidos', 'carrera','fecha']"></tr>
               
              
            </table>
            <mat-paginator #paginator3 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons aria-label="Select page of solicitudes">
            </mat-paginator>
        </ng-container>
    </div>
    <div style="margin-top:25px; text-align: center;">
        <button style="margin-right: 12px"mat-raised-button color="primary" matStepperPrevious>
        Back </button>
    </div>

    </mat-step>
  </mat-stepper>
</body>

</html>
