


<!DOCTYPE html>
<html lang="en">
  <header>
    <img class="icon"
      src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png"
    />
    <h4 class="hh">INSTITUTO UNIVERSITARIO SUPERIOR TECNOLÓGICO DEL AZUAY</h4>
  </header>
  <body class="bodyL">


    
<mat-card class="example-card">
        
    <mat-card-content>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 614px;">
            <mat-label>Buscar cedula </mat-label>
            <input matInput>
          </mat-form-field>

          <div class="datos">
            <div>
                <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
                    <mat-label>Nombres</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="fill"style= "width: 300px;">
                    <mat-label>Apellidos</mat-label>
                    <input matInput>
                  </mat-form-field>

            </div>
            

            <div>
                <mat-form-field appearance="fill" style="margin-right: 20px;width: 300px;">
                    <mat-label>Celular</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field appearance="fill" style= "width: 300px;">
                    <mat-label>Carera</mat-label>
                    <input matInput>
                  </mat-form-field>


                  

            </div>
            <div>
                <H1 style="font-size: 15px;"><strong>Docente Seleccionado:</strong> Nombre del Docente</H1>
            </div>
            
          </div>

          <div style="margin-top:25px; text-align: center;">
            <button mat-raised-button color="primary">Guardar</button>
          </div>



        



       

    
    </mat-card-content>
    
  </mat-card>




            



            

    

  </body>
</html>

