/* /* 
body{
    background-color: #10558d;
    padding-bottom: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #10558d;
    text-align: right;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {

    background-color: #111;
} */


/* 
* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body{
	background: #153F99;
	padding-bottom: 0%;
}

ul{
	display: flex;
	width: 100%;
	height: 80px;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: center;
}

li {
	padding: 1rem 2rem 1.15rem;
	text-transform: uppercase;
	cursor: pointer;
	color: #ebebeb;
	min-width: 80px;
	margin: auto;
	position: relative;
}

a {
    text-decoration: none;
    color:white;
}




li:hover {
	background-color: white;
	background-size: 100% 100%;
	color: black;
	animation: spring 300ms ease-out;
	text-shadow: 0 -1px 0 #ffff;
	font-weight: bold;
    text-decoration: none;

}

a:hover {
	background-color: white;
	background-size: 100% 100%;
	color: #27262c;
	animation: spring 300ms ease-out;
	text-shadow: 0 -1px 0 #ffff;
	font-weight: bold;
    text-decoration: none;
	
}

li:active {
	transform: translateY(4px);
}

@keyframes spring {
	15% {
		transform-origin: center center;
		transform: scale(1.2, 1.1);
	}
	40% {
		transform-origin: center center;
		transform: scale(0.95, 0.95);
	}
	75% {
		transform-origin: center center;
		transform: scale(1.05, 1);
	}
	100% {
		transform-origin: center center;
		transform: scale(1, 1);
	}
}

.shameless-plug {
	position: absolute;
	bottom: 10px;
	right: 0;
	padding: 8px 20px;
	color: #ccc;
	text-decoration: none;
}  */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.icono {
  border-radius: 50%;
  width: 50px; /* Cambia este valor para ajustar el tamaño */
  height: 50px; /* Cambia este valor para ajustar el tamaño */
}
.snip1143 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 20;
  background-color: #213A70;
  margin-top: 20px;

}
.snip1143 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
  font-size: 13px;
}
.snip1143 a {
  padding: 0.3em 0;
  color:white;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
  
}
.snip1143 a:before,
.snip1143 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1143 a:before {
  top: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: white;
 
}
.snip1143 a:after {
  padding: 0.3em 0;
  position: absolute;
  top: 100%;
  left: 0;
  content: attr(data-hover);
  color: white;
  white-space: nowrap;
}
.snip1143 li:hover a,
.snip1143 .current a {
  transform: translateY(-100%);
}
  /* Demo purposes only */
body {
	height: 90vh;
	display: flex;
  align-items: center;
  justify-content: center;
	background-color: #213A70;
}


html {
  height: 100%;
}
body {
  background-color: #213A70;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0;
  height: 100%;
}

mat-toolbar{
  background-color: #213A70;
}

h1{
  color: white;
  margin-right: 600px;
  margin-top: 30px;
  margin-block-end: 30px;
  margin-left: 30px;
  font-family: 'Raleway', Arial, sans-serif;

}

