<div class="container">
  <h2 class="form-title">Resetear Contraseña</h2>
  <form (ngSubmit)="onResetPassword()" class="form">
    <mat-form-field>
      <input matInput placeholder="Cédula" name="cedula" [(ngModel)]="cedula" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="password" placeholder="Nueva contraseña" name="newPassword" [(ngModel)]="newPassword"
        required>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Resetear Contraseña
    </button>

    <div *ngIf="message" class="message">
      {{ message }}
    </div>
  </form>
</div>
