<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="bodyL">
  <div style="display: flex; justify-content: center; align-items: center;margin-top: 120px; ">
  
    <mat-card class="example-card" style="width: 700px;">
      
      <div  class="col-md-6 side-image">
        <!-------Image-------->
        <img  style="width: 100px;"  
        src="assets/images/LOGOISTA.png"
        alt="">

        </div>


      <h1  style="  font-family: 'Times New Roman', Times, serif; font-size: 25px; text-align: right; margin-right: 35px;"> <strong>Registro de Empresa </strong></h1>
     
      <div  style="display: flex; margin-top: 20px;">
        <div >
          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Ruc:</mat-label>
            <input [(ngModel)]="empresa.rucEmpresa" matInput maxlength="13" (keypress)="onKeyPress($event)">
            <mat-icon matSuffix>description</mat-icon>


          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Correo:</mat-label>
            <input [(ngModel)]="empresa.correo" matInput>
            <mat-icon matSuffix>mail</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Ciudad:</mat-label>
            <input [(ngModel)]="empresa.ciudad" matInput maxlength="50">
            <mat-icon matSuffix>location_city</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Nombre:</mat-label>
            <input [(ngModel)]="empresa.nombreEmpresa" matInput maxlength="100">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Teléfono:</mat-label>
            <input [(ngModel)]="empresa.numeroTelefono" matInput maxlength="10" (keypress)="onKeyPress($event)">
            <mat-icon matSuffix>phone</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Dirección:</mat-label>
            <input [(ngModel)]="empresa.direccion" matInput maxlength="200">
            <mat-icon matSuffix>location_on</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
            <mat-label>Código:</mat-label>
            <input [(ngModel)]="empresa.codigoPostal" matInput maxlength="6" (keypress)="onKeyPress($event)">
            <mat-icon matSuffix>add</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="fill" class="example-full-width" style="margin-right: 20px; width: 300px;">
            <mat-label>Descripción:</mat-label>
            <mat-icon matSuffix>description</mat-icon>
            <textarea style="   font-family: 'Times New Roman', Times, serif;" [(ngModel)]="empresa.descripcion" matInput maxlength="300"
              placeholder="Descripcion..."></textarea>
          </mat-form-field>



        </div>

      </div>

      <div style="text-align: right;margin-right:25px" >
        <button  style="margin-right: 10px;"  mat-raised-button color="warn" (click)="crearEmpresa()" (click)="LimpiarCampos()">Registrar
          Empresa   <mat-icon>save</mat-icon>
        </button>

        <button mat-raised-button color="primary" routerLink="/coordinador/listado-empresas"> Listados   <mat-icon>list</mat-icon>
        </button>

      </div>
    </mat-card>
  </div>








</body>

</html>