<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="bodyL">

  <mat-card class="example-card" style="width: 700px;">

    <h1> <strong>Registro de Empresa </strong></h1>
    <p style="font-size:16px;"> <strong>Ingrese los siguientes datos:</strong> </p>

    <div style="display: flex;">

      <div>
        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Ruc:</mat-label>
          <input [(ngModel)]="empresa.rucEmpresa" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Correo:</mat-label>
          <input [(ngModel)]="empresa.correo" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Ciudad:</mat-label>
          <input [(ngModel)]="empresa.ciudad" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Nombre:</mat-label>
          <input [(ngModel)]="empresa.nombreEmpresa" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Telefono:</mat-label>
          <input [(ngModel)]="empresa.numeroTelefono"  matInput>
          <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>


        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Direccion:</mat-label>
          <input [(ngModel)]="empresa.direccion" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" style="margin-right: 20px; width: 300px;">
          <mat-label>Codigo:</mat-label>
          <input [(ngModel)]="empresa.codigoPostal" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill" class="example-full-width" style="margin-right: 20px; width: 300px;">
          <mat-label>Descripcion:</mat-label>
          <textarea [(ngModel)]="empresa.descripcion" matInput placeholder="Descripcion..."></textarea>
        </mat-form-field>

      </div>

    </div>






    <div style="text-align: center;">
      <button mat-raised-button color="primary" (click)="crearEmpresa()">Registrar Empresa</button>
    </div>

  </mat-card>









</body>

</html>