<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista Productos</title>
</head>

<body class="bodyL">
  <div style="display: flex; flex-direction: column; align-items: center">
    <mat-card style="width: 750px; margin-top: 25px">
      <h1><strong>REGISTRO DE ACTIVIDADES A CUMPLIR</strong></h1>
      <mat-card style="width: 700px">
        <div style="display: flex; align-items: center; margin-top: 25px">
          <h3 style="margin-right: 20px"><STrong>Solicitud:</STrong></h3>
          <mat-form-field class="example-full-width" style="width: 300px">
            <mat-label>Solicitud</mat-label>
            <input matInput placeholder="Empresa" id="solicitud" readonly />
          </mat-form-field>
          <button mat-raised-button style="margin-left: 25px" data-bs-toggle="modal" data-bs-target="#modal-formulario">
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <div style="display: flex; align-items: center; margin-top: 25px">
          <h3 style="margin-right: 20px"><STrong>Empresa:</STrong></h3>
          <mat-form-field class="example-full-width" style="width: 300px">
            <mat-label>Empresa:</mat-label>
            <input matInput placeholder="Empresa" id="empresa" readonly />
          </mat-form-field>
        </div>

        <div style="display: flex; align-items: center; margin-top: 28px">
          <h3 style="margin-right: 20px"><STrong>Carrera:</STrong></h3>
          <mat-form-field class="example-full-width" style="width: 300px">
            <mat-label>Carrera</mat-label>
            <input matInput placeholder="Carrera" id="carrera" readonly />
          </mat-form-field>
        </div>
      </mat-card>

      <mat-card style="width: 700px">
        <h3 style="margin-right: 20px; font-size: 19px">
          <STrong>Datos de solicitud:</STrong>
        </h3>
        <div style="margin-left: 25px; flex-grow: 0; text-align: center">
          <img src="https://p.calameoassets.com/130401180402-96c61bdf9ef6d895049e244c9720b58c/p1.jpg" alt=""
            style="width: 200px; height: 300px" />
        </div>

        <div class="preview-pdf">
          <button mat-raised-button style="font-size: 15px" onclick="window.open('assets/doc/Carlos_Ibarra.pdf')">
            Vista Previa del documento
          </button>
        </div>
      </mat-card>

      <mat-card style="width: 700px">
        <h3 style="margin-right: 20px; font-size: 19px">
          <STrong>Asignación de actividades:</STrong>
        </h3>

        <div>
          <mat-form-field class="example-full-width" style="width: 340px; margin-right: 20px">
            <mat-label>Descripción de actividad:</mat-label>
            <input matInput placeholder="Descripción" id="detalle" />
          </mat-form-field>

          <mat-form-field class="example-full-width" style="width: 340px">
            <mat-label>Herramienta Requerida:</mat-label>
            <input matInput placeholder="Herramienta" id="herramienta" />
          </mat-form-field>
        </div>
      </mat-card>

      <mat-card style="width: 700px">
        <h3 style="margin-right: 20px; font-size: 19px">
          <STrong>Materias aprobadas requeridas:</STrong>
        </h3>

        <div>
          <!-- <select id="materias" name="materias" [(ngModel)]="carreraSeleccionada">
            <option value="">Seleccione una carrera</option>
            <option *ngFor="let carrera of carrera_nombre" [value]="carrera">{{ carrera }}</option>
          </select> -->

          <select id="materias" name="materias" [(ngModel)]="carreraSeleccionada"
            (ngModelChange)="seleccionarCarrera()">
            <option value="">Seleccione una materia</option>
            <option *ngFor="let materia of materias" [value]="materia">{{ materia }}</option>
          </select>


          <div style="text-align: center">
            <button mat-raised-button color="warn" (click)="crearActividades()">
              <mat-icon>add</mat-icon>Agregar Actividad
            </button>
          </div>
        </div>
      </mat-card>

      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">

        <ng-container matColumnDef="solicitudPracticas.tutorEmpresarial.empresa.nombreEmpresa">
          <th mat-header-cell *matHeaderCellDef>Empresa.</th>
          <td mat-cell *matCellDef="let element">{{ element.solicitudPracticas.tutorEmpresarial.empresa.nombreEmpresa}}
          </td>
        </ng-container>

        <!-- Position Column -->
        <ng-container matColumnDef="actividades.detalleActividad">
          <th mat-header-cell *matHeaderCellDef>Detalle Actividad.</th>
          <td mat-cell *matCellDef="let element">{{ element.actividades.detalleActividad }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actividades.herramientas">
          <th mat-header-cell *matHeaderCellDef>Herramienta</th>
          <td mat-cell *matCellDef="let element">{{ element.actividades.herramientas}}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="actividades.nombre_materia">
          <th mat-header-cell *matHeaderCellDef>Materia</th>
          <td mat-cell *matCellDef="let element">{{element.actividades.nombre_materia}}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
      <div style="text-align: right">
        <button style="margin-right: 25px" mat-raised-button color="warn" (click)="procesoterminado()" >
          Finalizar
        </button>
      </div>
    </mat-card>
  </div>




  <!-- Modal con Boostrap -->

  <div class="modal" id="modal-formulario" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="container">

        <div class="modal-content">
          <!-- <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->
          <div class="container">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <table mat-table [dataSource]="dataSource1" class="mat-elevation-z8">
              <ng-container matColumnDef="seleccionar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element">
                  <mat-checkbox [checked]="idSeleccionadas.includes(element.idSolicitudPracticas, element.nombres)"
                    (change)="capturarCheckbox($event.source, element.idSolicitudPracticas, element.nombre_carrera, element.tutorEmpresarial.empresa.nombreEmpresa)"></mat-checkbox>
                </td>
              </ng-container>
              <!-- Position Column -->
              <ng-container matColumnDef="idSolicitudPracticas">
                <th mat-header-cell *matHeaderCellDef>ID</th>
                <td mat-cell *matCellDef="let element">{{ element.idSolicitudPracticas}}</td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="numeroEstudiantes">
                <th mat-header-cell *matHeaderCellDef>Numero Estudiantes</th>
                <td mat-cell *matCellDef="let element">{{ element.numeroEstudiantes}}</td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="nombreSolicitud">
                <th mat-header-cell *matHeaderCellDef>Nombre Solicitud</th>
                <td mat-cell *matCellDef="let element">{{element.nombreSolicitud}}</td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="nombre_carrera">
                <th mat-header-cell *matHeaderCellDef>Nombre Carrera</th>
                <td mat-cell *matCellDef="let element">{{element.nombre_carrera}}</td>
              </ng-container>

              <ng-container matColumnDef="tutorEmpresarial.empresa.nombreEmpresa">
                <th mat-header-cell *matHeaderCellDef>Empresa</th>
                <td mat-cell *matCellDef="let element">{{element.tutorEmpresarial.empresa.nombreEmpresa}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
            <div style="text-align: right">
              <button style="margin-right: 25px" mat-raised-button color="warn" (click)="obtenerdatostable()" data-bs-dismiss="modal">
                Finalizar
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</body>

</html>
