<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Productos</title>
</head>

<body class="bodyL">



    <h1> <strong>LANZAMIENTO DE CONVOCATORIA </strong></h1>


    <mat-stepper linear #stepper class="headerxd">
      
        <mat-step>
          <ng-template matStepLabel>Fase 1</ng-template>
          <table id="keywords" cellspacing="0" cellpadding="0">

            
            <thead>
              <tr>
                <th>ID</th>
                <th>Fecha Envio</th>
                <th>Fecha Aceptacion</th>
                <th>Fecha Elaboracion</th>

                <th>Empresa</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let solicitudes of solicitudesCompletas">

                <td>{{ solicitudes?.idSolicitudPracticas?? "Sin ID" }}</td>
                <td>{{ solicitudes?.fechaEnvioSolicitud?? "Sin ID" }}</td>
                <td>{{ solicitudes?.fechaAceptacion?? "Sin fecha de aceptacion" }}</td>
                <td>{{ solicitudes?.fechaEnvioSolicitud?? "Sin fecha de aceptacion" }}</td>

                <td>{{ solicitudes?.tutorEmpresarial?.empresa?.nombreEmpresa ?? "Sin empresa" }}</td>





                <td>
                  <button
                    matStepperNext
                    class="btn btn-light"
                    (click)="seleccionarSolicitud(solicitudes)" (click)="Capturarid(solicitudes.idSolicitudPracticas)"
                  >
                    Seleccionar
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" (ngSubmit)="verificarID()">
                <ng-template matStepLabel>Fase 2</ng-template>
                <div style="display: flex; justify-content: center; align-items: center;">
                
                 
                    <mat-card >

                        <mat-card-content>

                            <h1 style="text-align: left;">Completar Datos de la Convocatoria </h1>
                            <div>
                                <mat-form-field appearance="fill" style="margin-right: 50px;width:550px;">
                                    <mat-label>Nombre de Convocatoria:</mat-label>
                                    <input matInput placeholder="Ingrese un nombre para la convocatoria:" formControlName="secondCtrl" required
                                    [(ngModel)]="convocatoria.nombreConvocatoria">
                                </mat-form-field>

                                <div>
                                    <mat-form-field appearance="fill" style="margin-right: 50px;width:550px;">
                                        <mat-label>Fecha publicación:</mat-label>
                                        <input type="text" matInput placeholder="Fecha Publicacion:"  [value]="getFechaActual()" readonly>
                                    </mat-form-field>

                                    <mat-form-field appearance="fill" style="margin-right: 50px;width:550px;">
                                        <mat-label>Fecha expiración:</mat-label>
                                        <input type="date" matInput placeholder="Ingrese una fecha de expiracion:" formControlName="secondCtrl" required
                                        [(ngModel)]="convocatoria.fechaExpiracion">
                                    </mat-form-field>

                                </div>

                            </div>

                            <div style="margin-top:25px; text-align: center;">
                                <button style="margin-right: 12px;" mat-raised-button color="primary" matStepperPrevious>Back</button>
                                <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
                            </div>


                        </mat-card-content>

                    </mat-card>
                  </div>
            </form>
        </mat-step>


        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Imprimir Archivo</ng-template>
            <div style="display: flex; justify-content: center; align-items: center;">
            <mat-card >

              <h1><strong>DESCARGAR EL OFICIO </strong></h1>
              <p style="text-align: center">
                Una vez se descargue el oficio, posteriormente deberá firmarlo y
                <br />
                nuevamente la subirá en el formato PDF.
              </p>

            <div class="download-container">
              <button mat-raised-button color="primary" (click)="descargarPDF()">
                <mat-icon>get_app</mat-icon> Descargar Archivo
              </button>
              <div class="instructions" style="  font-family: 'Times New Roman', Times, serif;
              ">
                Haz clic en el botón para descargar el documento
              </div>
            </div>
            

          <div style="margin-top:25px; text-align: center;">
            <button style="margin-right: 12px;" mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
        </div>
          </mat-card>
        </div>
          </form>
          

        </mat-step>



        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>Subir Documento</ng-template>
            <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>

            <h1><strong>SUBIR EL OFICIO FIRMADO</strong></h1>
            <p style="text-align: center">
              Una vez se descargue el oficio, posteriormente deberá firmarlo y
                <br />
                nuevamente la subirá en el formato PDF.
            </p>


            <div class="download-container">
              <input name="file" id="file"(change)="upload($event)" type="file" #inputFile hidden>
              <button mat-raised-button color="primary"(click)="inputFile.click()" >
                <mat-icon>cloud_upload </mat-icon> Subir Documento PDF
              </button>
              <div class="instructions" style="  font-family: 'Times New Roman', Times, serif;
              ">
                Haz clic en el botón para cargar el documento
              </div>
            </div>
            
            

            <div style="text-align: center">
              
              <button style="margin-right: 12px" mat-raised-button color="warn" (click)="resetStepper()">
                Finalizar
              </button>
              
            </div>

          </mat-card>
        </div>
          </form>
        </mat-step>
        


    </mat-stepper>








</body>

</html>
