<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
  <header>My Menu</header>
  <div class="profile">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="profile_picture">
    <h3>{{ user_final}}</h3>
  </div>
  <li>
    <a href="/academico/dashboard" class="active">
      <i class="fas fa-qrcode"></i>
      <span style="font-size: 12px; font-family: 'Open Sans', sans-serif;">Dashboard</span>
    </a>
  </li>

  <li class="dropdown">
    <a>Estudiantes</a>
    <ul class="submenu">
      <li><a href="/academico/lista-asignados">Asignados</a></li>
    </ul>
  </li>


  <li class="dropdown">
    <a>Anexos</a>
    <ul class="submenu">
      <li><a href="/academico/envio-anexo1">Generar Anexo 1</a></li>
      <li><a href="/academico/envio-anexo5">Generar Anexo 5</a></li>
      <li><a href="/academico/recibe-anexo6">Envio Anexo 6</a></li>
      <li><a href="/academico/recibe-anexo7">Envio Anexo 7</a></li>
      <li><a href="/academico/recibe-anexo8">Envio Anexo 8</a></li>


    </ul>
  </li>

  <li class="dropdown">
    <a href="#">Opción 5</a>
    <ul class="submenu">
      <li><a href="#">Subopción 1</a></li>
      <li><a href="#">Subopción 2</a></li>
      <li><a href="#">Subopción 3</a></li>
    </ul>
  </li>
