<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
  <header>My Menu</header>
  <div class="profile">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="profile_picture">
    <h3>{{ user_final}}</h3>
  </div>
  <li>
    <a href="estudiante/dashboard" class="active">
      <i class="fas fa-qrcode"></i>
      <span style="font-size: 12px; font-family: 'Open Sans', sans-serif;">Dashboard</span>
    </a>
  </li>

  <li class="dropdown">
    <a>Convocatorias</a>
    <ul class="submenu">
      <li><a href="/estudiante/lista-convocatorias">Disponibles</a></li>
    </ul>
  </li>

  <li class="dropdown">
    <a>Anexos</a>
    <ul class="submenu">
      <li><a href="/estudiante/genera-anexo2">Anexo 2</a></li>
      <li><a href="/estudiante/genera-anexo3">Anexo 3</a></li>
      <li><a href="/estudiante/genera-anexo6">Anexo 6</a></li>


    </ul>
  </li>


