<!DOCTYPE html>
<html lang="en">
  <body class="bodyL">
    <div class="xdxd">
    <mat-card class="example-card">
      <div style="display: flex; flex-direction: row">
        <div style="text-align: right">
          <img
          src="assets/images/fotologo2.png"
            alt=""
            style="width: 25%"
          />
        </div>
      </div>
      <mat-card-content style="display: flex; flex-direction: row">
        <form action="#" class="login-form">
          <div style="flex-basis: 50%; flex-grow: 0">
            <h1><strong>Recuperar Contraseña</strong></h1>
            <p>
              Podemos ayudarle a restablecer su contraseña. <br />
              Ingrese su cédula y siga las instrucciones.
            </p>
            <mat-form-field
              appearance="outline"
              class="example-full-width"
              style="margin-right: 20px; width: 300px"
            >
              <mat-label>Ingrese su cédula</mat-label>
              <input
                matInput
                type="text"
                maxlength="10"
                class="form-control, text"
                required
                [(ngModel)]="usuario.cedula"
                name="cedula"
                (input)="escribirInput($event)"
                onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                id="cedulausu"
              />
            </mat-form-field>
            <button
              style="text-align: center"
              mat-raised-button
              color="warn"
              data-bs-toggle="modal"
              data-bs-target="#modal-formulario2"
            >
              Verificar
            </button>
          </div>
        </form>
      </mat-card-content>
      <div class="groupbtn">
        <button class="btnSign"
          mat-raised-button
 
          style="margin-right: 20px"
          onclick="window.location.href='/auth/sign-in'"
        >
          Atrás
        </button>
        <button class="btnSign"
        onclick="location.href=''" mat-raised-button >
          Home
        </button>

      </div>
    </mat-card>
    </div>

    <!-- MODAL   -->

    <div
      class="modal"
      id="modal-formulario2"
      tabindex="-5"
      aria-labelledby="modal-label"
      aria-hidden="true"
      style="margin-top: 10%; margin-left: 10%;"
    >
      <div class="modal-dialog" >
        <div class="container">
          <div class="modal-content" style="width: 80%; ">
            <div class="container" style="width: 80%; ">
              <div class="modal-header">
                <h1><strong>Restablecer Contraseña</strong></h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <form class="form-container" (ngSubmit)="onResetPassword()">
                <mat-form-field class="form-field">
                  <input style="color: black; font-size: 0.8rem; font-family: 'Times New Roman', Times, serif;"
                    matInput
                    type="text"
                    [(ngModel)]="usuario.cedula"
                    name="cedula"
                    placeholder="Cédula"
                    id="cedulausu"
                    required

                  />
                  <p style="color: red;" *ngIf="!usuario.correo">Porfavor primero ingrese su identificación</p>
                </mat-form-field>

                <mat-form-field class="form-field">
                  <input style="color: black; font-size: 0.8rem; font-family: 'Times New Roman', Times, serif;"
                    matInput
                    type="email"
                    id="correo"
                    placeholder="Correo"
                    class="form-control, text"
                    required
                    [(ngModel)]="usuario.correo"
                    name="correo"
                    readonly
                    (input)="autoEmail($event)"
                  />
                  <p style="color: red;" *ngIf="!usuario.correo">Porfavor primero ingrese su identificación</p>
                </mat-form-field>

                <mat-form-field class="form-field">
                  <input
                  style="font-size: 0.8rem; font-family: 'Times New Roman', Times, serif;"
                    matInput
                    type="password"
                    [(ngModel)]="newPassword"
                    name="newPassword"
                    placeholder="Nueva contraseña"
                    required
                  />
                </mat-form-field>
                <button class="btnSign" mat-raised-button type="submit" data-bs-dismiss="modal" routerLink="/auth/sign-in">
                  Restablecer contraseña
                </button>
                <p class="message" style="color: red;">{{ message }}</p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>