<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
    <header>My Menu</header>
    <div class="profile">
        <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
            alt="profile_picture">
        <h3>{{ user_final}}</h3>
    </div><li>
        <a href="#" class="active">
            <i class="fas fa-qrcode"></i>
            <span style="font-size: 12px; font-family: 'Open Sans', sans-serif;">Dashboard</span>
        </a>
    </li>

    <li class="dropdown">
        <a href="#">Opción 1</a>
        <ul class="submenu">
          <li><a href="#">Subopción 1</a></li>
          <li><a href="#">Subopción 2</a></li>
          <li><a href="#">Subopción 3</a></li>
        </ul>
      </li>

    <li class="dropdown">
        <a href="#">Opción 2</a>
        <ul class="submenu">
          <li><a href="#">Subopción 1</a></li>
          <li><a href="/administrador/register-coord-vinculacion">Subopción 2</a></li>
          <li><a href="#">Subopción 3</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">Opción 3</a>
        <ul class="submenu">
          <li><a href="#">Subopción 1</a></li>
          <li><a href="#">Subopción 2</a></li>
          <li><a href="#">Subopción 3</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="#">Opción 4</a>
        <ul class="submenu">
          <li><a href="#">Subopción 1</a></li>
          <li><a href="#">Subopción 2</a></li>
          <li><a href="#">Subopción 3</a></li>
        </ul>
      </li>
      <li class="dropdown">
        <a href="#">Opción 5</a>
        <ul class="submenu">
          <li><a href="#">Subopción 1</a></li>
          <li><a href="#">Subopción 2</a></li>
          <li><a href="#">Subopción 3</a></li>
        </ul>
      </li>

   <!-- //////////////////Administrador -->    
 
   <li>
    <a href="#"  *ngIf="rolAdmin == true"  routerLinkActive="active" routerLink="/administrador/register-responsable">
        <i class="fas fa-link"></i>
        <span>Registro Responsable PPP</span>
    </a>
   </li>  
   <li>
    <a href="#"  *ngIf="rolAdmin == true" routerLinkActive="active"routerLink="/administrador/register-coord-vinculacion">
        <i class="fas fa-link"></i>
        <span>Registrar Coordinador</span>
    </a>
   </li>
   <li>
    <a href="#"  *ngIf="rolAdmin == true" routerLinkActive="active"routerLink="/administrador/register-director">
        <i class="fas fa-link"></i>
        <span>Registrar Director de Carrera</span>
    </a>
   </li>

   <!-- ////////////////// Estudiantes -->
<li>
    <a href="#"  *ngIf="rolEstudiante == true" routerLinkActive="active" routerLink="/estudiante/lista-convocatorias">
        <i class="fas fa-link"></i>
        <span>Lista de Convocatorias</span>
    </a>
</li>
  
<!-- ////////////////// Tutores academicos -->
<li>
    <a href="#"  *ngIf="rolTutoracademico == true" routerLinkActive="active" routerLink="/academico/lista-asignados">
        <i class="fas fa-link"></i>
        <span>Lista Asignados</span>
    </a>
</li>

 <!-- ////////////////// Tutor empreserial -->
 <li>
    <a href="#"  *ngIf="rolTutorempresarial == true" routerLinkActive="active" routerLink="/empresarial/solicitud-practicas">
        <i class="fas fa-link"></i>
        <span>Envio Solicitudes Practicas</span>
    </a>
</li>
<li>
    <a href="#"  *ngIf="rolTutorempresarial == true" routerLinkActive="active" routerLink="/empresarial/lista-soli-enviadas">
        <i class="fas fa-link"></i>
        <span>Lista De solicitudes Enviadas</span>
    </a>
</li>
 <!-- ////////////////// Responsable PPP -->
 <li>
    <a href="#"  *ngIf="rolResponsablepp == true" routerLinkActive="active" routerLink="/responsable/registro-empresarial">
        <i class="fas fa-link"></i>
        <span>Registro Tutor Empresarial</span>
    </a>
</li>
<li>
    <a href="#"  *ngIf="rolResponsablepp == true" routerLinkActive="active" routerLink="/responsable/registro-actividad">
        <i class="fas fa-link"></i>
        <span>Registro Actividades</span>
    </a>
</li>
   <li>
    <a href="#"  *ngIf="rolResponsablepp == true"  routerLinkActive="active" routerLink="/responsable/solicitud-recibida">
        <i class="fas fa-link"></i>
        <span>Lista Solicitudes Enviadas</span>
    </a>
   </li>
   <li>
    <a href="#"  *ngIf="rolResponsablepp == true"  routerLinkActive="active" routerLink="/responsable/lanzamiento-convocatoria">
        <i class="fas fa-link"></i>
        <span>Lanzamiento Convocatoria</span>
    </a>
   </li>
   <li>
    <a href="#"  *ngIf="rolResponsablepp == true"  routerLinkActive="active" routerLink="/responsable/aprobacion-estudiantes">
        <i class="fas fa-link"></i>
        <span>Aprobacion Estudinates</span>
    </a>
   </li>
 <!-- ////////////////// Director de carrera -->
 <li>
    <a href="#"  *ngIf="rolDirector == true" routerLinkActive="active" routerLink="/director/lista-soli-convocatorias">
        <i class="fas fa-link"></i>
        <span>Lista Solicitudes de Convocatorias</span>
    </a>
</li>
<li>
    <a href="#"  *ngIf="rolDirector == true" routerLinkActive="active" routerLink="/director/aprobar-estudiantes">
        <i class="fas fa-link"></i>
        <span>Aprobar Estudiantes</span>
    </a>
</li>

 <!-- ////////////////// Coordinador de vinculacion -->
 <li>
    <a href="#"  *ngIf="rolCordinador == true" routerLinkActive="active" routerLink="/coordinador/registro-convenio">
        <i class="fas fa-link"></i>
        <span>Registro Convenio</span>
    </a>
</li>
<li>
    <a href="#"  *ngIf="rolCordinador == true" routerLinkActive="active" routerLink="/coordinador/lista-convenios">
        <i class="fas fa-link"></i>
        <span>Lista Convenios</span>
    </a>
</li>
<li>
    <a href="#"  *ngIf="rolCordinador == true" routerLinkActive="active" routerLink="/coordinador/registro-empresa">
        <i class="fas fa-link"></i>
        <span>Registrar Empresa</span>
    </a>
</li>    
<li>
    <a href="#"  *ngIf="rolCordinador == true" routerLinkActive="active" routerLink="/coordinador/listado-empresas">
        <i class="fas fa-link"></i>
        <span>Lista Empresa</span>
    </a>
</li>    


</div>