<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sign-up.component.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    />
  </head>
  <body class="bodyL">
    <div class="xdxd">
    <div class="wrapper">
      <div class="container main">
        <div class="row">
          <div class="xd col-md-6 side-image">
            <!-------Image-------->
            <img
            src="assets/images/fotologo3.png"
              alt=""
            />
            <div class="text"></div>
          </div>

          <div class="col-md-6 right">
            <div>
   
              <h1  style="text-align:center; margin-right: 30px">
                <strong>Registrar Cuenta</strong>
              </h1>
              <form
                action="#"
                class="login-form"
                ngNativeValidate
                (ngSubmit)="create()"
              >
                <input
                  style="margin-right: 10px"
                  type="text"
                  maxlength="10"
                  placeholder="CEDULA"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.cedula"
                  name="cedula"
                  (input)="escribirInput($event)"
                  onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                  id="cedulausu"
                />

                <input
                  type="password"
                  placeholder="CONTRASEÑA"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.contrasenia"
                  name="contrasenia"
                  id="contrasenia"
                  (input)="validarCoontra($event)"
                  maxlength="10"
                />

                <input
                  style="margin-right: 10px"
                  type="text"
                  id="nombres"
                  placeholder="NOMBRES"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.nombres"
                  name="nombres"
                  disabled
                />

                <input
                  type="text"
                  placeholder="APELLIDOS"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.apellidos"
                  name="apellidos"
                  disabled
                />

                <input
                  style="margin-right: 10px"
                  type="email"
                  id="correo"
                  placeholder="CORREO"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.correo"
                  name="correo"
                  disabled
                  (input)="autoEmail($event)"
                />

                <input
                  type="text"
                  id="carrera"
                  placeholder="CARRERA"
                  class="form-control, text"
                  required
                  [(ngModel)]="usuario.carrera"
                  name="carrera"
                  disabled
                />

                <span class="msj" id="elemento" Style="Display:none;"
                >Contraseña insegura: La contraseña debe tener números, letras minúsculas y
                mayúsculas.</span
              >

                <!-- Botones -->
                <div class="groupbtn">
                  <button
                  class="btnSign"
                    mat-raised-button

                    style="margin-right: 10px"
                    type="submit"
                  >
                    Registrar
                  </button>

                  <button
                  class="btnSign"
                    style="margin-right: 12px"
                    onclick="location.href=''"
                    mat-raised-button
 
                  >
                    Home
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
