<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />


<input type="checkbox" id="check">
<label for="check">
  <i class="fas fa-bars" id="btn"></i>
  <i class="fas fa-times" id="cancel"></i>
</label>

<div class="sidebar">
  <header>My Menu</header>
  <div class="profile">
    <img
      src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
      alt="profile_picture">
    <h3>{{ user_final}}</h3>
  </div>
  <li>
    <a href="/responsable/dashboard" class="active">
      <i class="fas fa-qrcode"></i>
      <span style="font-size: 12px; font-family: 'Open Sans', sans-serif;">Dashboard</span>
    </a>
  </li>

  <li class="dropdown">
    <a>Registros</a>
    <ul class="submenu">
      <li><a href="/responsable/registro-empresarial">Tutor Empresarial</a></li>
    </ul>
  </li>


  <li class="dropdown">
    <a>Listado</a>
    <ul class="submenu">
      <li><a href="/responsable/lista-empresariales">Tutores Empresariales</a></li>
      <li><a href="/responsable/lista-convocatorias">Convocatorias</a></li>

    </ul>
  </li>


  <li class="dropdown">
    <a>Solicitud Prácticas</a>
    <ul class="submenu">
      <li><a href="/responsable/solicitud-recibida">Recibidas</a></li>
      <li><a href="/responsable/lista-solicitudes">Aprobadas</a></li>
      <li><a href="/responsable/registro-actividad">Asignar Actividades</a></li>

    </ul>
  </li>

  <li class="dropdown">
    <a>Convocatoria</a>
    <ul class="submenu">
      <li><a href="/responsable/lanzamiento-convocatoria">Lanzar Convocatoria</a></li>
      <li><a href="/responsable/aprobacion-estudiantes">Aprobar Estudiantes</a></li>


    </ul>
  </li>

  <li class="dropdown">
    <a>Practica</a>
    <ul class="submenu">
      <li><a href="/responsable/asignar-academico">Asignación Academico</a></li>


    </ul>
  </li>


  <li class="dropdown">
    <a>Cuenta</a>
    <ul class="submenu">
      <li><a href="/responsable/profile">Mi Perfil</a></li>
      <li><a href="/auth/sign-in">Cerrar Sesión</a></li>
    </ul>
  </li>
