<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="home-dashboard.component.css">

</head>

<header >

</header>
<body>

    <div style=" display: flex;
    justify-content: center;
    align-items: center;
    ">
        <img src="https://www.tecazuay.edu.ec/assets/img/logo%20desenfocado4.png" alt="">

    </div>
    <div style="background-color: #272E56;  text-align: center;">
        <div class="about-me-text">
            <h2 style="font-size: 20px;color: white;">Bienvenido a la plataforma de  Practicas PREPROFECIONALES </h2>
        </div>
    </div>
    	<!--   Carusel-->

        <div class="slide" style="width: 1100px;margin: 0 auto;">
            <div class="slide-inner">
                <input class="slide-open" type="radio" id="slide-1" 
                      name="slide" aria-hidden="true" hidden="" checked="checked">
                <div class="slide-item">
                    <img src="https://www.tecazuay.edu.ec/assets/iftec2023/iftec.png">
                </div>
                <input class="slide-open" type="radio" id="slide-2" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://www.tecazuay.edu.ec/assets/archivos/transformandonos.png">
                </div>
                <input class="slide-open" type="radio" id="slide-3" 
                      name="slide" aria-hidden="true" hidden="">
                <div class="slide-item">
                    <img src="https://www.tecazuay.edu.ec/assets/archivos/cursos.png">
                </div>
                <label for="slide-3" class="slide-control prev control-1">‹</label>
                <label for="slide-2" class="slide-control next control-1">›</label>
                <label for="slide-1" class="slide-control prev control-2">‹</label>
                <label for="slide-3" class="slide-control next control-2">›</label>
                <label for="slide-2" class="slide-control prev control-3">‹</label>
                <label for="slide-1" class="slide-control next control-3">›</label>
                <ol class="slide-indicador">
                    <li>
                        <label for="slide-1" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-2" class="slide-circulo">•</label>
                    </li>
                    <li>
                        <label for="slide-3" class="slide-circulo">•</label>
                    </li>
                </ol>
            </div>
        </div>

        



    	<!--   Tarjetas-->

<div class="title-cards">
    <div class="about-me-text">
        <h2 style="font-size: 20px;">Conoce mas sobre las practicas </h2>
    </div>
    
</div>
<div class="container-card">

<div class="card">
<figure>
    <img src="https://dev2020.tecazuay.edu.ec/wp-content/uploads/2020/05/EBF_2802-1024x684.jpg">
</figure>
<div class="contenido-card">
    <h3>Diseño Gràfico</h3>
    <p>Podemos crear la identidad corporativa de tu empresa. Diseño , Maquetación de folletos, Catálogos, Papelería y mucho más.</p>
    <a href="#">Leer Màs</a>
</div>
</div>
<div class="card">
<figure>
    <img src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
</figure>
<div class="contenido-card">
    <h3>Gestión de Redes</h3>
    <p>Nosotros creamos y optimizamos tus perfiles en las Redes Sociales. Importantes para que tu presencia online sea completa.</p>
    <a href="#">Leer Màs</a>
</div>
</div>
<div class="card">
<figure>
    <img src="https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
</figure>
<div class="contenido-card">
    <h3>Desarrollo Web</h3>
    <p>Creamos tu página web utilizando las últimas tecnologías disponibles. Una Web adaptativa a tu móvil o Tablet y con un gestor de contenido fácil.</p>
    <a href="#">Leer Màs</a>
</div>
</div>
</div>
<!--Fin   Tarjetas-->

  <div class="about-me">
    <div class="about-me-text">
      <h2>¿Que son las practicas pre-profesionales?</h2>
      <p>DIGITAL & TECH es un equipo dedicado a expandir los límites del desempeño y 
        explorar posibilidades de juego. El mundo de los juegos está en constante evolución y
        nos esmeramos para afrontar sus retos. Con una mejor integración de dispositivos y juegos, 
        facilitamos una experiencia de juegos cada vez mejor. Para ello incluimos elementos como HERO, 
        nuestro sensor de juego más preciso, y 
        LIGHTSYNC, nuestra tecnología RGB determinada por el juego.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1542744095-fcf48d80b0fd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1176&q=80" alt="me">
  </div>


  <div class="about-me">
    <img src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="me">

    <div class="about-me-text">
      <h2> ¿Que necesito para realizar las practicas pre profesionales?</h2>
      <p>DIGITAL & TECH nos esforzamos por ofrecer a nuestros clientes las soluciones más innovadoras y 
        eficientes para satisfacer sus necesidades tecnológicas. Nos comprometemos a proporcionar productos
         y servicios de alta calidad y un servicio excepcional al cliente. Nuestro objetivo es ayudar a nuestros
          clientes a mantenerse a la vanguardia de la tecnología y mejorar su calidad de vida a través de la innovación
          .</p>
    </div>
  </div>


  <div class="about-me">
    <div class="about-me-text">
      <h2>¿Beneficios?</h2>
      <p>DIGITAL & TECH tenemos la visión de ser líderes en la industria de la tecnología, 
        ofreciendo soluciones innovadoras y de vanguardia que cambian la forma en que la gente
         vive y trabaja. Queremos ser reconocidos por nuestra excelencia en el servicio al cliente 
         y por nuestro compromiso con la calidad. Esperamos ser una fuente confiable de tecnología para
          nuestros clientes, ofreciendo soluciones personalizadas que cumplan con sus necesidades específicas.
           En última instancia, nuestra visión es crear un mundo donde la tecnología mejore la vida de las personas 
           de manera significativa y sostenible.</p>
    </div>
    <img src="https://images.unsplash.com/photo-1573164713712-03790a178651?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="me">
  </div>



  <footer class="footer">
    <div class="container">
        
        <div class="row">

            <div class="footer-col">
                <img src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png" alt="me" width="200px" height="200px">

            </div>
         
            <div class="footer-col">
                <h4> Contáctanos
                </h4>
                <ul style="color:#bbbbbb ">
                    <li>Dirección: Octavio Chacón Moscoso 1-98 y Primera Transversal (Parque industrial) </li>
                    <li>Teléfono: 07 2809 551 - 0995363076</li>
                    <li>Correo Electrónico:info@tecazuay.edu.ec</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Información</h4>
                <ul>
                    <li><a href="https://www.tecazuay.edu.ec/main/index.php">Sitio Web Oficial</a></li>
                    <li><a href="https://www.tecazuay.edu.ec/main/uAdministrativa.php">Unidad Administrativa</a></li>
                    <li><a href="https://www.tecazuay.edu.ec/assets/archivos/ofacad/oferta_general.pdf">Oferta Académica</a></li>

                </ul>
            </div>
            <div class="footer-col">
                <h4>Siguenos</h4>
                <div class="social-links">
                    <a href="https://www.facebook.com/TecAzuay/"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/TecAzuay"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/tecdelazuay/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>

    <div style="text-align: center; color:#bbbbbb; margin-top: 30px;">
        <p>Copyright © 2023 - ISTA-UTIC</p>
    </div>
</footer> 



</body>


</html>