

*{
  margin: 0px;
  padding: 0px;
}

/*Menu*/


.rightmenu{
  width: 60%;
  height: 100Px;
  float: right;
}
.rightmenu ul{
  margin-left: 200px;
}
.rightmenu ul li{
  display: inline-block;
  font-family: 'montserrat', sans-serif ;
  list-style: none;
  font-size: 15px;
  color: white;
  font-weight: bold;
  line-height: 100px;
  margin-left: 40px;
  text-transform: uppercase;
  cursor: pointer;
}
.rightmenu ul li:hover{
  color: #743ae1;
}

a.b-home {
  background: #0c0c0c;
  padding: 0.7em 1.5em;
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  margin: 2em 0 1em 0;
}

a.b-home:hover {
  background: #ff4e00;
  letter-spacing: 1px;
}





.bgimage{
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url("https://images.unsplash.com/photo-1517336714731-489689fd1ca8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1026&q=80");
  background-size: 100% auto;
  
  
}

.bodyL{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-image: url('src/assets/images/fondowelcome.png');
  background-size: 100% 100%;
  
  
}

.menu{
  width: 100%;
  height: 100px;

}
.leftmenu{
  width: 20%;
  line-height: 100Px;
  float: left;
}
.leftmenu h4{
  padding-left: 70px;
  font-weight: bold;
  color: white;
  font-size: 22px;
  font-family: 'montserrat', sans-serif;
  margin-top: 35px;
}

.text{
  width: 100%;
  margin-top:185px ;
  text-transform: uppercase;
  text-align: center;
  color: white;

}
.text h4{
  font-size: 14px;
  font-family: 'open sans', sans-serif;
}
.text h1{
  font-size: 62px;
  font-family: 'montserrat', sans-serif ;
  font-weight: 700px;
  margin: 14px 0px;
}
.text h3{
  font-size: 15px;
  font-family: 'open sans', sans-serif;
}
.btn{
  background-color: rgba(255,255,255, 0.164);
  color: white;
  font-family: 'montserrat', sans-serif ;
  border: none;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  width: 150px;
  margin-top: 25px;
  border: 3px solid btn;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 10px;
}
.btn:hover{
  background-color: #272E56;
  color: black;
}



/*Cards*/
.container-card{
width: 100%;
display: flex;
max-width: 1100px;
margin: auto;
}
.title-cards{
  font-family: 'montserrat', sans-serif;
width: 100%;
max-width: 1080px;
margin: auto;
padding: 20px;
margin-top: 20px;
text-align: center;
color: #7a7a7a;
}
.card{
  font-family: 'montserrat', sans-serif;
width: 100%;
margin: 20px;
border-radius: 6px;
overflow: hidden;
background:#fff;
box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
transition: all 400ms ease-out;
cursor: default;
}
.card:hover{
box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
transform: translateY(-3%);
}
.card img{
width: 100%;
height: 210px;
}
.card .contenido-card{
padding: 15px;
text-align: center;
}
.card .contenido-card h3{
margin-bottom: 15px;
color: #7a7a7a;
}
.card .contenido-card p{
line-height: 1.8;
color: #6a6a6a;
font-size: 14px;
margin-bottom: 5px;
}
.card .contenido-card a{
display: inline-block;
padding: 10px;
margin-top: 10px;
text-decoration: none;
color: #272E56;
border: 1px solid #272E56;
border-radius: 4px;
transition: all 400ms ease;
margin-bottom: 5px;
}
.card .contenido-card a:hover{
background: #272E56;
color: #fff;
}
@media only screen and (min-width:320px) and (max-width:768px){
.container-card{
  flex-wrap: wrap;
}
.card{
  margin: 15px;
}
}
/*Fin-Cards*/






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
line-height: 1.5;
font-family: 'Poppins', sans-serif;
}
*{
margin:0;
padding:0;
box-sizing: border-box;
}
.container{
max-width: 1170px;
margin:auto;
}
.row{
display: flex;
flex-wrap: wrap;
}
ul{
list-style: none;
}
.footer{
background-color: #0c0c0c;
  padding: 30px 0;
}
.footer-col{
 width: 25%;
 padding: 0 15px;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 35px;
font-weight: 500;
position: relative;
}
.footer-col h4::before{
content: '';
position: absolute;
left:0;
bottom: -10px;
background-color: #272E56;
height: 2px;
box-sizing: border-box;
width: 50px;
}
.footer-col ul li:not(:last-child){
margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.3s ease;
}
.footer-col ul li a:hover{
color: #ffffff;
padding-left: 8px;
}
.footer-col .social-links a{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255,255,255,0.2);
margin:0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
color: #ffffff;
transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
color: #24262b;
background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
.footer-col{
  width: 50%;
  margin-bottom: 30px;
}
}
@media(max-width: 574px){
.footer-col{
  width: 100%;
}
}



/*Paneles de Quienes somos*/

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  border-top: 2px solid #eeeeee;
}

.about-me img {
  width: 500px;
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.about-me-text h2 {
  font-size: 30px;
  color: #333333;
  text-transform: uppercase;
  margin-right: 35px;
  margin-left: 35px;
}

.about-me-text p {
  font-size: 15px;
  color: #585858;
  margin: 10px 0;
  margin-right: 35px;
  margin-left: 35px;
  text-align: justify;
  
}

























.slide {
  position: relative;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.64);
  margin-top: 26px;
  border-radius: 5px;
}
.slide-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 300px;
  border-radius: 5px;
}
.slide-open:checked + .slide-item {
  position: static;
  opacity: 100;
}
.slide-item {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
}
.slide-item img {
  display: block;
  height: 300px;
  max-width: 100%;
}
.slide-control {
  background: rgba(0, 0, 0, 0.28);
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 40px;
  height: 40px;
  line-height: 35px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  cursor: pointer;
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  text-align: center;
  width: 40px;
  z-index: 10;
}
.slide-control.prev {
  left: 2%;
}
.slide-control.next {
  right: 2%;
}
.slide-control:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3 {
  display: block;
}
.slide-indicador {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10;
}
.slide-indicador li {
  display: inline-block;
  margin: 0 5px;
}
.slide-circulo {
  color: #828282;
  cursor: pointer;
  display: block;
  font-size: 35px;
}
.slide-circulo:hover {
  color: #aaaaaa;
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
   li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
    li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
    li:nth-child(3) .slide-circulo {
  color: #272E56;
}
#titulo {
  width: 100%;
  position: absolute;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  font-family: 'Open Sans', sans-serif;
  z-index: 9999;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.33), 
       -1px 0px 2px rgba(255, 255, 255, 0);
}









