<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bodyL">
    <h1><strong>Aprobacion Estudiantes </strong></h1>

    <mat-stepper linear #stepper class="headerxd">
      <mat-step>
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Fase 1</ng-template>

          
          <div style="display: flex; flex-direction: column; align-items: center">
            <mat-card style="width: 750px; margin-top: 5px">
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
              >
                <!-- Name Column -->
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef>Nombre Solicitud</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.position }}
                  </td>
                </ng-container>

                <!-- Fecha Column -->
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef>Fecha Solicitud</th>
                  <td mat-cell *matCellDef="let element">{{ element.name }}</td>
                </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="weight">
                  <th mat-header-cell *matHeaderCellDef>Estado</th>
                  <td mat-cell *matCellDef="let element">Aplica</td>
                </ng-container>

                <!-- Solcitudes Column -->
                <ng-container matColumnDef="symbol">
                  <th mat-header-cell *matHeaderCellDef>Solicitudes</th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-raised-button color="primary" matStepperNext>
                      Seleccionar
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <mat-paginator
                [pageSizeOptions]="[2, 4, 6]"
                showFirstLastButtons
                aria-label="Select page of periodic elements"
              >
              </mat-paginator>
            </mat-card>
          </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fase 2</ng-template>
          <div class="container">
            <mat-card class="example-card" style="width: 900px; height:480px ;">
              <mat-card-content>
                <h1 style="text-align: left">Listado de solicitudes</h1>
                <div style="display: flex; flex-direction: column; align-items: center" >
                
                  <table
                    mat-table
                    [dataSource]="dataSource2"
                    class="mat-elevation-z8"
                  >
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <th mat-header-cell *matHeaderCellDef>Nombre Estudiante</th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.name }}
                      </td>
                    </ng-container>
    
                    <!-- Fecha Column -->
                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef>Fecha Envio</th>
                      <td mat-cell *matCellDef="let element">{{ element.fecha }}</td>
                    </ng-container>
                    <!-- carrera Column -->
                    <ng-container matColumnDef="carrera">
                      <th mat-header-cell *matHeaderCellDef>Carrera</th>
                      <td mat-cell *matCellDef="let element">{{ element.carrera }}</td>
                    </ng-container>
                    <!-- Estado Column -->
                    <ng-container matColumnDef="estado">
                      <th mat-header-cell *matHeaderCellDef>Estado</th>
                      <td mat-cell *matCellDef="let element">Aprobado</td>
                    </ng-container>
                         
                    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns2"
                    ></tr>
                  </table>
                  
                  
                <div style="margin-top: 60px; text-align: center">
                  <button
                    style="margin-right: 12px"
                    mat-raised-button
                    color="primary"
                    matStepperPrevious
                  >
                    Back
                  </button>
                  <button mat-raised-button color="primary" matStepperNext>
                    Siguiente
                  </button>
                </div>
             
              </div>
              </mat-card-content>
            </mat-card>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Fase 3</ng-template>
        <div class="container">
          <mat-card class="example-card" style="width: 900px; height:480px ;">
            <mat-card-content>
              <h1 style="text-align: left">Listado de solicitudes</h1>
              <div
              style="display: flex; flex-direction: column; align-items: center"
            >
              <mat-card style="width: 750px; margin-top: 25px">
                <table
                  mat-table
                  [dataSource]="dataSource3"
                  class="mat-elevation-z8"
                >
                  <!-- Name Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre Estudiante</th>
                    <td mat-cell *matCellDef="let element">
                      {{ element.name }}
                    </td>
                  </ng-container>
  
                  <!-- jornada Column -->
                  <ng-container matColumnDef="jornada">
                    <th mat-header-cell *matHeaderCellDef>Jornada</th>
                    <td mat-cell *matCellDef="let element">{{ element.jornada }}</td>
                  </ng-container>
                  <!-- carrera Column -->
                  <ng-container matColumnDef="carrera">
                    <th mat-header-cell *matHeaderCellDef>Carrera</th>
                    <td mat-cell *matCellDef="let element">{{ element.carrera }}</td>
                  </ng-container>
                  <!-- horario Column -->
                  <ng-container matColumnDef="horario">
                    <th mat-header-cell *matHeaderCellDef>Horario</th>
                    <td mat-cell *matCellDef="let element">{{ element.horario}}</td>
                  </ng-container>
                       <!-- asignar horario Column -->
                <ng-container matColumnDef="asignar">
                  <th mat-header-cell *matHeaderCellDef>Asignar Horario</th>
                  <td mat-cell *matCellDef="let element">
                    <div class="example-flex-container">
                      <button mat-raised-button  style="color:white; background-color: #3f51b5; border-radius: 50px;"data-bs-toggle="modal" data-bs-target="#modal-formulario">
                        <mat-icon>alarm_add</mat-icon></button>
                    </div>
                  </td>
                </ng-container>
                       
                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr
                    mat-row
                    *matRowDef="let row; columns: displayedColumns3"
                  ></tr>
                </table>
                <mat-paginator
                  [pageSizeOptions]="[2, 4, 6]"
                  showFirstLastButtons
                  aria-label="Select page of periodic elements"
                >
                </mat-paginator>

            <div style="text-align: center">
              <button
                style="margin-right: 12px"
                mat-raised-button
                color="primary"
                matStepperPrevious
              >
                Back
              </button>
              <button style="margin-right: 12px" mat-raised-button color="warn">
                Aceptar
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.reset()"
              >
                Reset
              </button>
            </div>
          </mat-card>
        </div>
        </mat-card-content>
      </mat-card>
    </div>
      </mat-step>
    </mat-stepper>


      <!-- MODALLL--> 
   <div class="modal" id="modal-formulario" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog" style="display: flex; align-items: center; justify-content: center;">
      <div class="container" style="width: 900px;">

      <div class="modal-content">
 
        <div class="container">
          <div class="modal-header">

            <h1 style="text-align: center;">Asignacion de Horario:</h1>

          
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div style="color: black; margin-top: 20px; text-align: center;" >
            <mat-form-field class="example-full-width" style="margin-right: 20px;">
              <mat-label>Fecha de inicio</mat-label>
              <input matInput type="date" placeholder="Ex. Pizza" >
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-label>Fecha final</mat-label>
              <input matInput type="date" placeholder="Ex. Pizza" >
            </mat-form-field>
          </div>

          <div style="color: black; margin-top: 20px; text-align: center;" >
            <h4>Hora Incio</h4>
            <select id="country" name="country" style="display: inline-block; width: 300px;">
              <option value="australia">Seleccione una carrera</option>
              <option value="dato1">7:00</option>
              <option value="dato2">7:30</option>
            </select>

            <h4>Hora Final</h4>
            <select id="country" name="country" style="display: inline-block; width: 300px;">
              <option value="australia">Seleccione una carrera</option>
              <option value="dato1">18:00</option>
              <option value="dato2">18:00<</option>
            </select>
          </div>

          <p>NO SE QUE MAS PUTAS PONER EL CHIMBO NO ME DIJO NADA :V</p>

          

         
          
          <div style="text-align:center;margin-top: 20px;margin-block-end: 20px;">
            <button style="margin-right: 25px" mat-raised-button color="warn">
              Guardar
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
  </body>
</html>
