<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apock web design</title>
    <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body class="bodyL">
<section class="seccion-perfil-usuario">
    <div class="perfil-usuario-header">
        <div class="perfil-usuario-portada">
            <div class="perfil-usuario-avatar">
                <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"  style="width:100%; height: 100%;" alt="img-avatar">
                
                
                <input type="file" id="input-imagen" accept="image/*" style="display:none;">
<button type="button" class="boton-avatar" onclick="document.getElementById('input-imagen').click()">
  <i class="far fa-image"></i> 
</button>

            </div>
            <input type="file" id="input-imagen" accept="image/*" style="display:none;">
<button type="button" class="boton-portada" onclick="document.getElementById('input-imagen').click()">
  <i class="far fa-image"></i> Cambiar fondo
</button>
        </div>
    </div>
    <div class="perfil-usuario-body">
        <div class="perfil-usuario-bio">
            <h3 class="titulo">Andrea Suarez</h3>
            <p class="texto" style="text-align: center; margin: auto;">Tutor Empresarial del Instituto Universitario Tecnologico del Azuay</p>
        </div>
        <div class="perfil-usuario-footer">
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-signs"></i> Direccion de usuario:Control Sur </li>
 
                <li><i class="icono fas fa-phone-alt"></i> Telefono: 2320115</li>

                <li><i class="icono fas fa-briefcase"></i> Trabaja en: Libelula</li>

                <li><i class="icono fas fa-building"></i> Cargo: Tutor Empresarial</li>
            
            </ul>
            <ul class="lista-datos">
                <li><i class="icono fas fa-map-marker-alt"></i> Ubicacion:El Salado</li>
                <li><i class="icono fas fa-calendar-alt"></i> Fecha nacimiento:1986/05/08</li>
                <li><i class="icono fas fa-user-check"></i> Registro:Chi</li>

            </ul>
        </div>
        
    </div>
</section>

</body>
