<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lista Productos</title>
</head>

<body class="bodyL">

  <mat-stepper linear #stepper class="headerxd" style=" width: 80%;">
    <mat-step>
      <form [formGroup]="firstFormGroup">
        <ng-template style="  font-family: 'Times New Roman', Times, serif;
        " matStepLabel>Fase 1</ng-template>
        <h1 style="margin-top: 30px; font-size: 30px; color: black;text-align: center;"> <strong>APROBACIÓN DE ESTUDIANTES</strong> </h1>
        <div style="display: flex; justify-content: center; align-items: center; ">
          <mat-card >
            <img style="width: 130px;"
            src="assets/images/LOGOISTA.png"
            alt="lg.png"/>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <!-- Position Column -->
              <ng-container matColumnDef="nombreconvocatoria">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Convocatoria </th>
                <td mat-cell *matCellDef="let element"> {{element.nombreConvocatoria}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="fechapublicacion">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha publicación </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaPublicacion}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="fechaexpiracion">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Expiración </th>
                <td mat-cell *matCellDef="let element"> {{element.fechaExpiracion}}</td>
              </ng-container>

              <ng-container matColumnDef="estadoConvocatoria">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.estadoConvocatoria}}</td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="opciones">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Solicitudes </th>
                <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" matStepperNext
                    (click)="traerconvocatoria(element.idConvocatorias)">Seleccionar</button></td>

              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator style="  font-family: 'Times New Roman', Times, serif;
            " #paginator1 [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </mat-card>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fase 2</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>
            <img style="width: 130px;"
            src="assets/images/LOGOISTA.png"
            alt="lg.png"/>
            <div>
              <h1 style="text-align: center;"> Listado de Estudiantes </h1>
              <table mat-table [dataSource]="data" class="mat-elevation-z8">
                <!-- Position Column -->
                <ng-container matColumnDef="nombre">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Estudiante</th>
                  <td mat-cell *matCellDef="let listassolicitudesll">
                    {{listassolicitudesll.estudiantePracticante.usuario_estudiante_practicante?.nombres}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="fecha">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                  <td mat-cell *matCellDef="let listassolicitudesll"> {{listassolicitudesll.fechaEnvio}} </td>
                </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="carrera">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera </th>
                  <td mat-cell *matCellDef="let listassolicitudesll">
                    {{listassolicitudesll.estudiantePracticante.usuario_estudiante_practicante?.carrera}}</td>
                </ng-container>

                <ng-container matColumnDef="esta">
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Solicitud </th>
                  <td mat-cell *matCellDef="let listassolicitudesll"> <button mat-raised-button color="primary"
                      matStepperNext (click)="seleccionarSolicitudC(listassolicitudesll)">Descargar</button></td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="sy" bol>
                  <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Aprobar </th>
                  <td mat-cell *matCellDef="let listassolicitudesll"> <button mat-raised-button color="primary"
                      matStepperNext
                      (click)="aprobarestudiante(listassolicitudesll.idSolicitudConvocatoria)">Aprobar</button></td>

                </ng-container>

                <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
                <tr mat-row *matRowDef="let rows; columns: dColumns;"></tr>
              </table>
              <mat-paginator #paginator2 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons
                aria-label="Select page of solicitudes">
              </mat-paginator>
            </div>
            <div>
                <h1 style="text-align: center;"> Estudiantes Aprobados </h1>
                <img style="width: 130px;"
                src="assets/images/LOGOISTA.png"
                alt="lg.png"/>
                    <table mat-table [dataSource]="datam" class="mat-elevation-z8">
                        <!-- Position Column -->
                        <ng-container matColumnDef="nombre">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Estudiante</th>
                            <td mat-cell *matCellDef="let listassolicitudeslltrue">
                              {{listassolicitudeslltrue.estudiantePracticante.usuario_estudiante_practicante?.nombres}} </td>
                          </ng-container>
          
                          <!-- Name Column -->
                          <ng-container matColumnDef="fecha">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                            <td mat-cell *matCellDef="let listassolicitudeslltrue"> {{listassolicitudeslltrue.fechaEnvio}} </td>
                          </ng-container>
          
                          <!-- Weight Column -->
                          <ng-container matColumnDef="carrera">
                            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera </th>
                            <td mat-cell *matCellDef="let listassolicitudeslltrue">
                              {{listassolicitudeslltrue.estudiantePracticante.usuario_estudiante_practicante?.carrera}}</td>
                          </ng-container>
          
          
                          <tr mat-header-row *matHeaderRowDef="diColumns"></tr>
                          <tr mat-row *matRowDef="let rows; columns: diColumns;"></tr>
                      
                    </table>
                    <mat-paginator #paginator3 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons aria-label="Select page of solicitudes">
                    </mat-paginator>
            </div>
            <div style="margin-top:25px; text-align: center;">
              <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</body>

</html>
