input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;


}
th{
  color:black;
  font-size: 15px;

}
.agregar {
  color: #fff;
  background-color: #013F7E;
  height: 30px;
  width: 50px;
  align-items: center;
  border-radius: 100px;
}
.agregar:hover {
  background: #e1e6e7;
  color: #050801;
}
.bodyL{
  margin-top: -20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #c4c3ca;
  background-image: url('src/assets/images/fondowelcome.png');
background-size: 100% 100%;
  overflow-x: hidden;
}

table {
  font-family: 'Times New Roman', Times, serif;

  width: 100%;
}

h1,h2,h3,h4,h5{
  font-family: 'Times New Roman', Times, serif;
}
p{
  font-family: 'Times New Roman', Times, serif;

}
mat-label{
font-family: 'Times New Roman', Times, serif;
}
input{
font-family: 'Times New Roman', Times, serif;
}

button{
font-family: 'Times New Roman', Times, serif;
}