input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.agregar {
  color: #fff;
  background-color: #aca9a9;
  height: 30px;
  width: 50px;
  align-items: center;
  border-radius: 100px;
}
.agregar:hover {
  background: #e1e6e7;
  color: #050801;
}
