
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Practicas Preprofesionales</title>
    <link rel="stylesheet" href="empresarial-dashboard.component.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
    <div class="left_sidebar">
    </div>
    
    <div class="main_container">
        <div class="mc_header">
          
          <div class="promo_card">
            <h5>Dashboard</h5>
            <h3>Biendvenido a TecAzuay</h3>
            <span>Prácticas Preprofesionales</span>
            <button>Learn More</button>
          </div>
        </div>
        <div class="sprint_overview">
 
        
          

          
            <div class="title">
                <h1>Información General</h1>
            </div>
              <div class="sprint_overview_cards">
                <mat-card class="sprint_overview_card">
                  <mat-card-header>
                    <mat-card-title>¿Para qué sirve?</mat-card-title>
                  </mat-card-header>
                  <img mat-card-md-image style="border-radius: 5px;" src="https://images.unsplash.com/photo-1522071820081-009f0129c71c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" >
                  <mat-card-content>
                        <p>Los estudiantes de carreras tecnológicas tendrán la oportunidad de 
                          adquirir experiencia práctica en un entorno real, permitiéndoles aplicar 
                          los conocimientos y habilidades adquiridos en su programa de estudios y 
                          desarrollar nuevas habilidades en el proceso.</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="sprint_overview_card">
                  <mat-card-header>
                    <mat-card-title>¿En qué ayudan?</mat-card-title>
                  </mat-card-header>
                  <img mat-card-sm-image style="border-radius: 5px;" src="https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80">
                  <mat-card-content>
                        <p>Los estudiantes empezarán a establecer contactos valiosos en la industria 
                          tecnológica, lo que puede facilitar su transición al mercado laboral una vez
                           que se gradúen.</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="sprint_overview_card">
                  <mat-card-header>
                    <mat-card-title>¿Cómo influyen?</mat-card-title>
                  </mat-card-header>
                  <img mat-card-sm-image style="border-radius: 5px;" src="https://images.unsplash.com/photo-1517245386807-bb43f82c33c4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" >
                  <mat-card-content>
                    <p>Preparar a los estudiantes de carreras tecnológicas para el mundo laboral, 
                      proporcionándoles una comprensión más profunda de la industria y de los desafíos 
                      y oportunidades que enfrentan los profesionales en este campo.</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="sprint_overview_card">
                  <mat-card-header>
                    <mat-card-title>Sus beneficios</mat-card-title>
                  </mat-card-header>
                  <img mat-card-sm-image style="border-radius: 5px;" src="https://images.unsplash.com/photo-1573164713712-03790a178651?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" >
                  <mat-card-content>
                    <p>Las prácticas pre-profesionales son una oportunidad para que los estudiantes adquieran experiencia práctica en un
                      entorno profesional real, antes de graduarse de su programa de estudios.</p>
                  </mat-card-content>
                </mat-card>

                <mat-card class="sprint_overview_card">
                  <mat-card-header>
                    <mat-card-title>¿Dónde se realizan?</mat-card-title>
                  </mat-card-header>
                  <img mat-card-sm-image style="border-radius: 5px;" src="https://www.parlamentario.com/wp-content/uploads/2020/10/Estudiantes-universitarios.jpg" >
                  <mat-card-content>
                    <p>Estas prácticas se llevan a cabo en empresas, organizaciones sin fines de lucro, 
                      agencias gubernamentales u otras instituciones, y suelen tener una duración determinada, que puede variar desde unas pocas semanas 
                      hasta varios meses o incluso un año completo.</p>
                  </mat-card-content>
                </mat-card>
              </div>
        </div>
        
        <div class="team_members_container">
            <div class="title">
                <h1>Redes Sociales</h1>
            </div>
            <div class="team_members">
                <mat-card class="epic">
                  <mat-card-title-group class="imgBx_s blue">
                    <i class="fa fa-facebook-square"></i>
                  </mat-card-title-group>
                  <mat-card-content >
                    
                    <a href="https://www.facebook.com/TecAzuay/?locale=es_LA">Facebook</a>
                  </mat-card-content>
                </mat-card>

                <mat-card class="epic">
                  <mat-card-title-group class="imgBx_s purple">
                    <i class="fa fa-instagram"></i>
                  </mat-card-title-group>
                  <mat-card-content >
                    <a href="https://www.instagram.com/tecdelazuay/?hl=es">Instagram</a>
                  </mat-card-content>
                </mat-card>

                <mat-card class="epic">
                  <mat-card-title-group class="imgBx_s cian">
                    <i class="fa fa-twitter-square"></i>
                  </mat-card-title-group>
                  <mat-card-content >
                    <a href="https://twitter.com/TecAzuay?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
                  </mat-card-content>
                </mat-card>

                <mat-card class="epic">
                  <mat-card-title-group class="imgBx_s red">
                    <i class="fa fa-chrome"></i>
                  </mat-card-title-group>
                  <mat-card-content >
                    <a href="https://www.tecazuay.edu.ec/main/index.php">TecAzuay</a>
                  </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <div class="right_sidebar">
        <div class="epics_container">
            
          <div class="title">
          <h4>Profile</h4>
            </div>
            <div class="epics">
                <mat-card class="epic">
                  <mat-card-title-group >
                    
                  </mat-card-title-group>
                  <mat-card-content >
                    <div class="profile">
                      <img src="https://1.bp.blogspot.com/-vhmWFWO2r8U/YLjr2A57toI/AAAAAAAACO4/0GBonlEZPmAiQW4uvkCTm5LvlJVd_-l_wCNcBGAsYHQ/s16000/team-1-2.jpg"
                          alt="profile_picture">
                      <h4>Kevin Maldonado</h4>
                  </div>
                  </mat-card-content>
                </mat-card>

                <mat-card class="epic">
                  <mat-card-title-group class="imgBx_s red">
                    <i class="fas fa-address-card"></i>
                  </mat-card-title-group>
                  <mat-card-content >
                    <li>0106447485</li>
                    <li>Estudiante</li>
                    <li>M5A</li>
                    <li>20</li>
                  </mat-card-content>
                </mat-card>

            </div>
        </div>
        <div class="project_statistic_container">
            <div class="title">
                <h1>Project statistic</h1>
            </div>
            <div class="project_statistics">
                <div class="project_statistic">
                    <h2>Project</h2>
                    <p>progress</p>
                    <div class="progress">
                        <div class="stat_progress_cover">
                            <div id="project"></div>
                        </div>
                        <h2>75%</h2>
                    </div>
                </div>
                <div class="project_statistic">
                    <h2>Business</h2>
                    <p>goals</p>
                    <div class="progress">
                        <div class="stat_progress_cover">
                            <div id="business"></div>
                        </div>
                        <h2>42%</h2>
                    </div>
                </div>
                <div class="project_statistic">
                    <h2>Budget</h2>
                    <p>used</p>
                    <div class="progress">
                        <div class="stat_progress_cover">
                            <div id="budget"></div>
                        </div>
                        <h2>40%</h2>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" class="btn project_details">project details</a>
    </div>
</body>

</html>


