<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body class="bodyL">
  

  <mat-stepper labelPosition="bottom" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Fase 1</ng-template>
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fase 1</ng-template>
        <h1 style="margin-top: 30px; font-size: 30px; color: black;text-align: center;"> <strong>Generar Anexo 5 </strong> </h1>

        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card style="width: 1200px; ">
            <img style="width: 150px; padding-bottom: 10px;"
            src="assets/images/LOGOISTA.png"
            alt="lg.png"/>
            <div>
              

              <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
             <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->

            <table mat-table [dataSource]="dataF1" class="mat-elevation-z8">
              <!-- Position Column --> 
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Carrera</th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> {{practicasSolicitudesd.solicitudPracticas.nombre_carrera}} </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">  </th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> {{practicasSolicitudesd.horaSalida}} </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="weight">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha publicacion</th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> {{practicasSolicitudesd.fechaPublicacion
                }}</td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha expiracion </th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> {{practicasSolicitudesd.fechaExpiracion
                }}</td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre Convocatoria </th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> {{practicasSolicitudesd.nombreConvocatoria}}</td>
              </ng-container>
              <!-- Symbol Column -->
              <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
               <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                 <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                 <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
               <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                 <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                 <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
               <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->
                 <!-- TENER EN CUENTA EL BOTONNNNNNNNNNNNNN -->

              <ng-container matColumnDef="symbol" bol>
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">SELECCIONAR</th>
                <td mat-cell *matCellDef="let practicasSolicitudesd"> <button mat-raised-button color="primary"
                    matStepperNext (click)="seleccionarConvocatoria(practicasSolicitudesd.idConvocatorias)">Seleccionar</button></td>

              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let rows; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator #paginator2 [pageSizeOptions]="[6]" showFirstLastButtons
              aria-label="Select page of solicitudes">
            </mat-paginator>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-step>



    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Fase 2</ng-template>
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Fase 2</ng-template>
        <h1 style="margin-top: 30px; font-size: 30px; color: black;text-align: center;"> <strong>Listado de Solicitudes</strong> </h1>

        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card style="width: 1200px; ">
            <img style="width: 150px; padding-bottom: 10px;"
            src="assets/images/LOGOISTA.png"
            alt="lg.png"/>
            <div>
              <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
             <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->
            <!-- CAMBIAR LOS DATOS EN EL TS ESTA TABLA ESTA CON DATOS QUE NO COORESPONDEN, OJITO AHI -->

            <table mat-table [dataSource]="dataTabla" class="mat-elevation-z8">
              <!-- Position Column -->


              <!-- Name Column -->
              <ng-container matColumnDef="nombre">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Nombre Estudiante</th>
                <td mat-cell *matCellDef="let listapraacticas">
                  {{listapraacticas.estudiantePracticante.usuario_estudiante_practicante?.nombres}}
                </td>
              </ng-container>

              <!-- Weight Column -->
              <ng-container matColumnDef="fechainicio">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Periodo </th>
                <td mat-cell *matCellDef="let listapraacticas"> {{listapraacticas.periodo
                }}</td>
              </ng-container>

              <ng-container matColumnDef="fechafin">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Ciclo</th>
                <td mat-cell *matCellDef="let listapraacticas">{{listapraacticas.ciclo
                }}</td>
              </ng-container>
              <!-- Symbol Column -->

              <!-- el boton para abrir el modal si esta funcional es el que esta aqui abajo  -->
              <!-- el boton para abrir el modal si esta funcional es el que esta aqui abajo  -->
              <!-- el boton para abrir el modal si esta funcional es el que esta aqui abajo  -->
              <!-- el boton para abrir el modal si esta funcional es el que esta aqui abajo  -->
              <!-- el boton para abrir el modal si esta funcional es el que esta aqui abajo  -->


              <ng-container matColumnDef="horainicio">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha Envio</th>
                <td mat-cell *matCellDef="let listapraacticas"> {{listapraacticas.fechaEnvio}} </td>
              </ng-container>

              <ng-container matColumnDef="horafin">
                <th mat-header-cell *matHeaderCellDef style="text-align: center;">Fecha Aprobacion</th>
                <td mat-cell *matCellDef="let listapraacticas"> {{listapraacticas.fechaAprobacion}} </td>
              </ng-container>

              <ng-container matColumnDef="sy" bol>
                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Generar Anexo </th>
                <td mat-cell *matCellDef="let listapraacticas"><button mat-raised-button color="primary" matStepperNext (click)="CreaAnexo5(listapraacticas.idSolicitudConvocatoria)">Generar</button></td>

              </ng-container>
              <tr mat-header-row *matHeaderRowDef="dColumns"></tr>
              <tr mat-row *matRowDef="let rows; columns: dColumns;"></tr>
            </table>
            <mat-paginator #paginator2 [pageSizeOptions]="[6]" showFirstLastButtons
              aria-label="Select page of solicitudes">
            </mat-paginator>
            </div>
          </mat-card>
        </div>
      </form>
    </mat-step>







    <mat-step [stepControl]="tresFormGroup">
      <!--  TENER EN CUENTA QUE ESTA PARTE FALTA VALIDAR EL firstFormGroup-->
      <form [formGroup]="tresFormGroup">
        <ng-template matStepLabel>Fase 3</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>

            <h1><strong>DESCARGAR EL OFICIO </strong></h1>
              <p style="text-align: center">
                Auna vez se descargue el oficio, posteriormente debera firmarlo y
                <br />
                nuevamente la subira en el formato pdf.
              </p>
            <div class="download-container">
              <button mat-raised-button color="primary" (click)="descargarPDF()">
                <mat-icon>get_app</mat-icon> Descargar Archivo
              </button>
              <div class="instructions">
                Haz clic en el botón para descargar el documento
              </div>
            </div>
            <div style="margin-top:25px; text-align: center;">
              <button style="margin-right: 12px;" mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
          </div>



          </mat-card>
        </div>
      </form>

    </mat-step>


    <mat-step [stepControl]="cuatroFormGroup">
      <!--  TENER EN CUENTA QUE ESTA PARTE FALTA VALIDAR EL firstFormGroup-->
      <form [formGroup]="cuatroFormGroup">
        <ng-template matStepLabel>Fase 4</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card>
            <h1><strong>SUBIR EL OFICIO FIRMADO</strong></h1>
            <p style="text-align: center">
              Auna vez se descargue el oficio, posteriormente debera firmarlo y
              <br />
              nuevamente la subira en el formato pdf.
            </p>
            <div class="download-container">
              <input name="file" id="file" (change)="upload($event)" type="file" #inputFile hidden>
              <button mat-raised-button color="primary"(click)="inputFile.click()" >
                <mat-icon>cloud_upload </mat-icon> Subir Documento PDF
              </button>
              <div class="instructions">
                Haz clic en el botón para cargar el documento
              </div>
            </div>

            <div style="text-align: center">

              <button style="margin-right: 12px" mat-raised-button color="warn">
                Finalizar
              </button>

            </div>




          </mat-card>
        </div>
      </form>

    </mat-step>
  </mat-stepper>











</body>

</html>
