<!-- <!DOCTYPE html>
<html lang="en">
  <header>
    <img class="icon"
      src="https://eduv.tecazuay.edu.ec/pluginfile.php/1/theme_academi/logo/1671035251/LOGO%20CUADRADO_SIN%20FONDO.png"
    />
    <h4 class="hh">INSTITUTO UNIVERSITARIO SUPERIOR TECNOLÓGICO DEL AZUAY</h4>
  </header>
  <body class="bodyL">
    <div class="contenedor">
      <div class="section">
        <div class="container">
          <div class="row full-height justify-content-center">
            <div class="col-12 text-center align-self-center py-5">
              <div class="section pb-5 pt-5 pt-sm-2 text-center">
                <h6 class="mb-0 pb-3">
                  <span>◉ Miembro ISTA</span><span>◉ Empresa</span>
                </h6>
                <input
                  class="checkbox"
                  type="checkbox"
                  id="reg-log"
                  name="reg-log"
                />
                <label for="reg-log"></label>
                <div class="card-3d-wrap mx-auto">
                  <div class="card-3d-wrapper">
                    <div class="card-front">
                      <div class="center-wrap1">
                        <div class="section text-center">
                          <h4 class="mtitle mb-4 pb-3">Miembro ISTA</h4>
                          <div class="form-group">
                            <h1 class="ltitle">Prácticas Pre-Profesionales</h1>
                            <div class="form-style1">
                              <p>
                                Bienvenido a la plataforma de "Practicas
                                Pre-Profesionales" del Instituto Universitario
                                Superior Tecnológico del Azuay.
                              </p>
                              <br />
                              <p>
                                Para Ingresar debe ser miembro de la comunidad
                                educativa @tecazuay.edu.ec
                              </p>
                            </div>
                          </div>
                          <a href="#" class="btn mt-4">
                            <img src="assets/images/google.png" width="20"
                          /></a>
                        </div>
                      </div>
                    </div>
                    <div class="card-back">
                      <div class="center-wrap">
                        <div class="section text-center">
                          <h4 class="title2 mb-4 pb-3">Empresa</h4>
                          <div class="form-group">
                            <input
                              type="text"
                              name="logname"
                              class="form-style"
                              placeholder="Ingrese su usuario"
                              id="logname"
                              autocomplete="off"
                            />
                            <i class="input-icon uil uil-user"></i>
                          </div>
                          <div class="form-group mt-2">
                            <input
                              type="password"
                              name="logemail"
                              class="form-style"
                              placeholder="Ingrese su contraseña"
                              id="logemail"
                              autocomplete="off"
                            />
                            <i class="input-icon uil uil-at"></i>
                          </div>

                          <a href="#" class="btn mt-4">Ingresar</a>
                          <p class="mb-0 mt-4 text-center">
                            <a href="#0" class="link"
                              >Olvidaste tu contraseña?</a
                            >
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> -->


<!DOCTYPE html>
<html lang="en">
  
  <body class="bodyL">




    <mat-card class="example-card">
      <mat-card-content style="display: flex; flex-direction: row;">
        <div style="flex-basis: 50%; flex-grow: 0; text-align: left; margin-right: 30px; display: flex; justify-content: center; align-items: center;">
          <img src="https://dev2020.tecazuay.edu.ec/wp-content/uploads/2022/11/cropped-LOGO-RECTANGULAR_SIN-FONDO.png" alt="" style="width: 100%;">
        </div>
        <form action="#" class="login-form" ngNativeValidate (ngSubmit)="onSubmit()">
        <div style="flex-basis: 50%; flex-grow: 0;">
          
          <h1><strong>Iniciar Sesion</strong></h1>

          <mat-form-field appearance="outline" class="example-full-width" style="margin-right: 20px; width: 300px;">
            <mat-label>Nombre Usuario</mat-label>
            <input matInput type="username" name="username" placeholder="Ingrese su correo" [(ngModel)]="form.correo" (input)="autoCompleteEmail($event)" required  >
          </mat-form-field>



          <mat-form-field appearance="outline" class="example-full-width" style="margin-right: 20px; width: 300px;" >
            <mat-label>Password</mat-label>
            <input matInput type="password"   name="username" placeholder="Ingrese su contraseña"  [(ngModel)]="form.contrasenia" required>
          </mat-form-field>

        



          <p>No tienes una cuenta <strong><a href="/auth/sign-up">Ingresa aqui</a></strong></p>

          <button  style="text-align: center;" mat-raised-button color="primary" type="submit">Ingresar</button>
        </div>
      </form>
      </mat-card-content>
    </mat-card>
    
      
  

        


              
    

  </body>
</html>

<div style="margin-top: 25px; margin-left: 60px; text-align: justify; max-width: 600px;">
  <p>Los principales objetivos de las prácticas pre-profesionales son:</p>
  <p>- Promover la formación académica de los estudiantes en los aspectos cognitivos, procedimentales y actitudes en la intervención pre profesional.</p>
  <p>- Promover la aplicación de los conocimientos teóricos y metodológicos en los diferentes campos de intervención.</p>
  <p>- Lograr experiencia de intervención de las diferentes áreas o sectores de labor profesional.</p><br>
  

  </div>


  <!DOCTYPE html>
<html lang="en">
  
  <body class="bodyL">





