<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bodyL">
    <h1><strong>Registro Tutor Empresarial </strong></h1>

    <mat-stepper linear #stepper class="headerxd">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">

          <ng-template matStepLabel>Fase 1</ng-template>

          <mat-card class="example-card" style="margin-top: 60px; width: 700px">
            <p style="font-size: 16px"><strong>Datos Personales</strong></p>

            <div style="display: flex">
              <div>
                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Cedula:</mat-label>
                  <input
                    id="cedulaPersona"
                    [(ngModel)]="personasemp.cedula"  [(ngModel)]="usuarios.cedula"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Primer Nombre:</mat-label>
                  <input
                    id="first_name" style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.primer_nombre"
                    [(ngModel)]="usuarios.nombres"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Segundo Nombre:</mat-label>
                  <input   id="second_name"
                  style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.segundo_nombre"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Primer Apellido:</mat-label>
                  <input
                    id="last_name" style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.primer_apellido"
                    [(ngModel)]="usuarios.apellidos"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Segundo Apellido:</mat-label>
                  <input id="secondlast_name"
                  style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.segundo_apellido"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Telefono:</mat-label>
                  <input
                    [(ngModel)]="tutorempresarial.numeroContacto"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>
                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Departamento:</mat-label>
                  <input style="text-transform: uppercase;"
                    [(ngModel)]="tutorempresarial.departamento"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Titulo:</mat-label>
                  <input style="text-transform: uppercase;"
                    [(ngModel)]="tutorempresarial.titulo"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Correo:</mat-label>
                  <input
                    id="correoPersona"
                    name="correoPersona"
                    [(ngModel)]="personasemp.correo" [(ngModel)]="usuarios.correo"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>

                <mat-form-field
                  appearance="fill"
                  class="example-full-width"
                  style="margin-right: 20px; width: 300px"
                >
                  <mat-label>Cargo:</mat-label>
                  <input style="text-transform: uppercase;"
                    [(ngModel)]="tutorempresarial.cargo"
                    matInput
                    formControlName="firstCtrl"
                    required
                  />
                </mat-form-field>
                <select
                  id="genero"
                  formControlName="firstCtrl"
                  style="width: 300px; margin-right: 20px"
                  [(ngModel)]="personasemp.genero"
                >
                  <option value="" disabled selected>
                    Seleccione el genero
                  </option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
              </div>
            </div>

            <div style="text-align: center">
              <button
                mat-raised-button
                color="primary"
                matStepperNext
                (click)="crearpersonaemp()"
              >
                <!-- <button mat-raised-button color="primary" matStepperNext (click)=" copy_address()"> -->
                Siguiente
              </button>
            </div>
          </mat-card>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fase 2</ng-template>

          <div class="container">
            <mat-card class="example-card" style="width: 600px">
              <mat-card-content>
                <p style="font-size: 16px">
                  <strong>Generar Credenciales</strong>
                </p>
                <div style="display: flex; align-items: center">
                  <div style="flex-basis: 50%; flex-grow: 0">
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Cedula</mat-label>
                      <input
                        matInput
                        type="username"
                        name="username"
                        id="usercedula"
                        placeholder="Ingrese su usuario"
                        formControlName="secondCtrl"

                        readonly
                      />
                    </mat-form-field>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Correo Usuario</mat-label>
                      <input
                        matInput
                        type="username"
                        name="usercorreo"
                        id="usercorreo"
                        placeholder="Ingrese su usuario"
                        formControlName="secondCtrl"

                        readonly
                      />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Password</mat-label>
                      <input
                        matInput
                        type="password"
                        name="password"
                        id="userpassword"
                        placeholder="Ingrese su contraseña"
                        formControlName="secondCtrl"
                        readonly
                      />
                      <!-- <input type="text" id="NombrePersonaemp"     formControlName="secondCtrl"   [(ngModel)]="usuarios.nombres"/>
                      <input type="text" id="ApellidoPersonaemp"    formControlName="secondCtrl"  [(ngModel)]="usuarios.apellidos"/> -->
                    </mat-form-field>
                  </div>
                  <div
                    style="margin-left: 25px; flex-grow: 0; text-align: right"
                  >
                    <div class="conten">
                      <label class="label">
                        <figure class="recipiente">
                          <img class="fotico" *ngIf="file" [src]="file" />
                        </figure>
                      </label>
                    </div>

                    <p style="text-align: center; font-size: 15px">
                      <strong>Nombre:</strong>
                      <input
                      style="text-transform: uppercase;"
                        id="NombreCompleto"
                        matInput
                        type="nombresss"
                        formControlName="secondCtrl"
                      />
                    </p>
                  </div>
                </div>

                <label class="dsboton"
                  >Subir Foto
                  <input
                    type="file"
                    class="uploadFile img"
                    value="Upload Photo"
                    (change)="imageSelected($event)"
                    style="width: 0px; height: 0px; overflow: hidden"
                  />
                </label>



                <div style="margin-top: 25px; text-align: center">
                  <button
                    style="margin-right: 12px"
                    mat-raised-button
                    color="primary"
                    matStepperPrevious
                  >
                    Back
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    matStepperNext
                    (click)="crearusuario()"
                  >
                    <!-- <button mat-raised-button color="primary" matStepperNext > -->
                    Siguiente
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Fase 3</ng-template>
        <div class="container">
          <mat-card
            class="example-card"
            style="text-align: center; width: 500px"
          >
            <p style="font-size: 16px"><strong>Generar Credenciales</strong></p>
            <div class="conten">
              <label class="label">
                <figure class="recipiente">
                  <img class="fotico" *ngIf="file" [src]="file" />
                </figure>
              </label>
            </div>
            <p style="text-align: center; font-size: 15px">
              <strong>Nombre:</strong>
              <input style="text-transform: uppercase;"id="NombreCompleto2" matInput type="nombresss2" />
              <!-- <input type="text" id="captdat" /> -->
            </p>
            <h3 style="margin-top: 25px">
              <strong>Rol Asignado:</strong>Tutor Empresarial
            </h3>
            <div style="display: flex; align-items: center; margin-top: 25px">
              <mat-form-field class="example-full-width" style="width: 300px">
                <mat-label>Nombre de la Empresa:</mat-label>
                <input id="nombreEmp"matInput   formControlName=""readonly/>
              </mat-form-field>
              <button mat-raised-button style="margin-left: 25px" data-bs-toggle="modal" data-bs-target="#modal-formulario" (click)="obtenerEmpresas()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
             <input type="text"  id="codigoEmp" hidden />
            <div style="text-align: center; margin-top: 25px">
              <button
                style="margin-right: 12px"
                mat-raised-button
                color="primary"
                matStepperPrevious
              >
                Back
              </button>
              <button style="margin-right: 12px" mat-raised-button color="warn" (click)="creartutoremp()">
                Finalizar
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.reset()"
              >
                Reset
              </button>
            </div>
          </mat-card>
        </div>
      </mat-step>
    </mat-stepper>

<!-- Modal Empresas -->
  <div class="modal" id="modal-formulario" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="container">
        <div class="modal-content">
          <div class="container">
            <div class="modal-header">
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="idEmpresa">
                <th mat-header-cell *matHeaderCellDef>Id Empresa</th>
                <td mat-cell *matCellDef="let empresa" (click)="seleccionarEmpresa(empresa)">
                  {{ empresa.idEmpresa }}
                </td>
              </ng-container>
              <ng-container matColumnDef="nombreEmpresa">
                <th mat-header-cell *matHeaderCellDef>Nombre</th>
                <td mat-cell *matCellDef="let empresa">
                  {{ empresa.nombreEmpresa }}
                </td>
              </ng-container>
              <ng-container matColumnDef="direccion">
                <th mat-header-cell *matHeaderCellDef>Dirección</th>
                <td mat-cell *matCellDef="let empresa">
                  {{ empresa.direccion }}
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
