<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bodyL">


    <mat-stepper linear #stepper class="headerxd">
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">

          <ng-template matStepLabel>Fase 1</ng-template>
          <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card style="box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);" > 
            <div  class="col-md-6 side-image">
              <img  style="width: 100px;" 
              src="assets/images/LOGOISTA.png"
              alt="">
              </div>
            <h1  style="  font-family: 'Times New Roman', Times, serif; font-size: 25px; text-align: right; margin-right: 35px;"> <strong>Registro Tutor Empresarial  </strong></h1>
            <div style="display: flex; flex-wrap: wrap; justify-content: space-between">
              <div>
                <mat-form-field 
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                >
                  <mat-label>Cédula:</mat-label>
                  <input 
                    pattern="[0-9]{0,10}"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)"
                    id="cedulaPersona"
                    [(ngModel)]="personasemp.cedula"  [(ngModel)]="usuarios.cedula"
                    matInput
                    formControlName="cedula" 
                  />
                  <mat-icon matSuffix>credit_card</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-left: 30px;"
                >
                  <mat-label>Primer Nombre:</mat-label>
                  <input
      
                    id="first_name" style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.primer_nombre"
              
                    matInput
                    formControlName="primer_nombre" 
                    
                  />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px;padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                >
                  <mat-label>Segundo Nombre:</mat-label>
                  <input   id="second_name"
        
                  style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.segundo_nombre"
                    matInput
                    formControlName="segundo_nombre" 
                    
                  />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px;padding-bottom: 10px; padding-left: 30px;"
                >
                  <mat-label>Primer Apellido:</mat-label>
                  <input
                
                    id="last_name" style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.primer_apellido"
                    matInput
                    formControlName="primer_apellido"
                    
                  />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                >
                  <mat-label>Segundo Apellido:</mat-label>
                  <input id="secondlast_name"
            
                  style="text-transform: uppercase;"
                    [(ngModel)]="personasemp.segundo_apellido"
                    matInput
                    formControlName="segundo_apellido"
                    
                  />
                  <mat-icon matSuffix>person</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-left: 30px;"
                >
                  <mat-label>Celular:</mat-label>
                  <input id="celular"
                  maxlength="10"
                    matInput
                    formControlName="celular"
                    pattern="[0-9]{0,10}"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10)"
                  />
                  <mat-icon matSuffix>phone</mat-icon>
                </mat-form-field>
                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                >
                  <mat-label>Departamento:</mat-label>
                  <input 
      
                    [(ngModel)]="tutorempresarial.departamento"
                    matInput
                    formControlName="departamento"
                    
                  />
                  <mat-icon matSuffix>business</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-left: 30px;"
                >
                  <mat-label>Título:</mat-label>
                  <input 
           
                    [(ngModel)]="tutorempresarial.titulo"
                    matInput
                    formControlName="titulo" 
                    
                  />
                  <mat-icon matSuffix>badge</mat-icon>
                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                >
                  <mat-label>Correo:</mat-label>
                  <input
                    pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}"
                    id="correoPersona"
                    name="correoPersona"
                    [(ngModel)]="personasemp.correo" [(ngModel)]="usuarios.correo"
                    matInput
                    formControlName="correo" 
                    
                  />
                  <mat-icon matSuffix>mail</mat-icon>
                  <mat-error>Ingresa un correo válido, por ejemplo, correo@gmail.com</mat-error>

                </mat-form-field>

                <mat-form-field style="width: calc(50% - 10px)"
                appearance="fill"
                  class="example-full-width"
                  class="example-full-width"
                  style="margin-right: 5px; width: 325px; padding-bottom: 10px; padding-left: 30px;"
                >
                  <mat-label>Cargo:</mat-label>
                  <input 
             
                    [(ngModel)]="tutorempresarial.cargo"
                    matInput
                    formControlName="cargo" 
                    
                  />
                  <mat-icon matSuffix>work</mat-icon>
                </mat-form-field>
                <select style="width: calc(50% - 10px)"
                  id="genero"
                  formControlName="genero"
                  style="width: 650px; margin-right: 50px; padding-bottom: 10px; padding-right: 30px; margin-left: 25px;"
                  [(ngModel)]="personasemp.genero"
                >
                  <option value="" disabled selected>
                    Seleccione el género
                  </option>
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
              </div>
            </div>
            <div style="text-align: right;margin-right: 40px;">
              <button
                mat-raised-button
                color="warn"
                (click)="crearpersona()"
              >
                Siguiente
              </button>
            </div>
          </mat-card>
        </div>
        </form>
      </mat-step>

      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Fase 2</ng-template>

          <div style="display: flex; justify-content: center; align-items: center;">
            <mat-card class="example-card" style="width: 600px">
              <mat-card-content>
                <h1 style="font-size: 25px;"> <strong>Generar Credenciales</strong> </h1>

                
                <div style="display: flex; align-items: center">
                  <div style="flex-basis: 50%; flex-grow: 0">
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Cédula:</mat-label>
                      <input
                        matInput
                        type="username"
                        name="username"
                        id="usercedula"
                        placeholder="Ingrese su usuario"
                        formControlName="secondCtrl"

                        readonly
                      />
                    </mat-form-field>
                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Correo Usuario</mat-label>
                      <input
                        matInput
                        type="username"
                        name="usercorreo"
                        id="usercorreo"
                        placeholder="Ingrese su usuario"
                        formControlName="secondCtrl"

                        readonly
                      />
                    </mat-form-field>

                    <mat-form-field
                      appearance="outline"
                      class="example-full-width"
                      style="margin-right: 20px; width: 300px"
                    >
                      <mat-label>Password</mat-label>
                      <input
                        matInput
                        type="password"
                        name="password"
                        id="userpassword"
                        placeholder="Ingrese su contraseña"
                        formControlName="secondCtrl"
                  
                        readonly
                      />
              
                    </mat-form-field>
                  </div>
                  <div
                    style="margin-left: 25px; flex-grow: 0; text-align: right"
                  >
                    <div class="conten">
                      <label class="label">
                        <figure class="recipiente">
                          <img class="fotico" *ngIf="file" [src]="file" />
                        </figure>
                      </label>
                    </div>

                    <p style="text-align: center; font-size: 15px">
                      <strong>Nombre:</strong>
                      <input
                      style="text-transform: uppercase;"
                        id="NombreCompleto"
                        matInput
                        type="nombresss"
                        formControlName="secondCtrl"
                      />
                    </p>
                  </div>
                </div>

                <label class="dsboton"
                  >Subir Foto
                  <input
                    type="file"
                    class="uploadFile img"
                    value="Upload Photo"
                    (change)="imageSelected($event)"
                    style="width: 0px; height: 0px; overflow: hidden"
                  />
                </label>



                <div style="margin-top: 25px; text-align: center">
                  <button
                    style="margin-right: 12px"
                    mat-raised-button
                    color="primary"
                    matStepperPrevious
                  >
                    Back
                  </button>
                  <button
                    mat-raised-button
                    color="primary"
                    matStepperNext
                    (click)="crearusuario()"
                  >
                    Siguiente
                  </button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>

        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Fase 3</ng-template>
        <div style="display: flex; justify-content: center; align-items: center;">
          <mat-card
            class="example-card"
            style="text-align: center; width: 500px"
          >
          <h1 style="font-size: 25px;"> <strong>Generar Credenciales</strong> </h1>


            <div class="conten">
              <label class="label">
                <figure class="recipiente">
                  <img class="fotico" *ngIf="file" [src]="file" />
                </figure>
              </label>
            </div>
            <p style="text-align: center; font-size: 15px">
              <strong>Nombre:</strong>
              <input style="text-transform: uppercase;"id="NombreCompleto2" matInput type="nombresss2" />
              <!-- <input type="text" id="captdat" /> -->
            </p>
            <h3 style="margin-top: 25px; font-family: 'Times New Roman', Times, serif;">
              <strong>Rol Asignado:</strong>Tutor Empresarial
            </h3>
            <div style="display: flex; align-items: center; margin-top: 25px">
              <mat-form-field class="example-full-width" style="width: 300px">
                <mat-label>Nombre de la Empresa:</mat-label>
                <input id="nombreEmp"matInput   formControlName=""readonly/>
              </mat-form-field>
              <button mat-raised-button class="btnAdd" style="margin-left: 25px" data-bs-toggle="modal" data-bs-target="#modal-formulario" (click)="obtenerEmpresas()">
                <mat-icon style="color: white;">add</mat-icon>
              </button>
            </div>
             <input type="text"  id="codigoEmp" hidden />
            <div style="text-align: center; margin-top: 25px">
              <button
                style="margin-right: 12px"
                mat-raised-button
                color="primary"
                matStepperPrevious
              >
                Back
              </button>
              <button style="margin-right: 12px" mat-raised-button color="warn" (click)="creartutor()">
                Finalizar
              </button>
              <button
                mat-raised-button
                color="primary"
                (click)="stepper.reset()"
              >
                Reset
              </button>
            </div>
          </mat-card>
        </div>
      </mat-step>
    </mat-stepper>

<!-- Modal Empresas -->
  
<div class="modal" id="modal-formulario" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog">
    <div class="container">

      <div class="modal-content">
        <!-- <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div> -->
        <div class="container">
          <img style="width: 150px; padding-bottom: 10px;"
          src="assets/images/LOGOISTA.png"
          alt="lg.png"/>
            <h1 style="margin-top: 30px; font-size: 30px; color: black;text-align: center;"> <strong>Empresas</strong> </h1>

          <div class="modal-header">

            <mat-form-field class="example-full-width" style="width: 1100px;">
              <mat-label>Buscar</mat-label>
              <input style="color: black; padding-left: 30px;" matInput #searchInput placeholder="Nombre de empresa" (input)="(searchInput.value)">
            </mat-form-field>
            

            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="rucEmpresa">
              <th mat-header-cell *matHeaderCellDef>RUC</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.rucEmpresa }}</td>
            </ng-container>
            <ng-container matColumnDef="nombreEmpresa">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.nombreEmpresa }}</td>
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.direccion }}</td>
            </ng-container>
            <ng-container matColumnDef="agg">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let empresa">
                <button class="agregar" data-bs-dismiss="modal" (click)="seleccionarEmpresa(empresa)">
                  <mat-icon>check_circle</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[6]" showFirstLastButtons
            aria-label="Select page of periodic elements">
          </mat-paginator>
          <div style="text-align: right">
          </div>

        </div>
      </div>
    </div>

  </div>
</div>

  <!-- <div class="modal" id="modal-formulario" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="modal-label">Empresas</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="rucEmpresa">
              <th mat-header-cell *matHeaderCellDef>RUC</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.rucEmpresa }}</td>
            </ng-container>
            <ng-container matColumnDef="nombreEmpresa">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.nombreEmpresa }}</td>
            </ng-container>
            <ng-container matColumnDef="direccion">
              <th mat-header-cell *matHeaderCellDef>Dirección</th>
              <td mat-cell *matCellDef="let empresa">{{ empresa.direccion }}</td>
            </ng-container>
            <ng-container matColumnDef="agg">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let empresa">
                <button class="agregar" data-bs-dismiss="modal" (click)="seleccionarEmpresa(empresa)">
                  <mat-icon>check_circle</mat-icon>
                </button>
              </td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
  
          <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons aria-label="Select page of periodic elements"></mat-paginator>
        </div>
      </div>
    </div>
  </div> -->
  </body>
</html>
