<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lista Productos</title>
</head>

<body class="bodyL">
    <mat-stepper linear #stepper class="headerxd" style="width: 75%;">
        <mat-step>
            <form [formGroup]="firstFormGroup">
                <h1 style="margin-top: 20px; font-size: 25px;"> <strong>APROBACIÓN DE ESTUDIANTES</strong> </h1>

                <ng-template matStepLabel>Fase 1</ng-template>
                <div style="display: flex; justify-content: center; align-items:center;">
                                        <mat-card style="width: 1350;">
                                            <img style="width: 120px;"
                                            src="assets/images/LOGOISTA.png"
                                            alt="lg.png"/>

                        <div class="tbConteiner">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8"
                        style="
                          margin-top: 25px;
                          width: 1350px;
                          overflow-x: auto;
                          white-space: nowrap;
                        ">
                            <!-- Position Column -->
                            <ng-container matColumnDef="nombreconvocatoria">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Convocatoria </th>
                                <td mat-cell *matCellDef="let convocatorias"> {{convocatorias.nombreConvocatoria}} </td>
                            </ng-container>

                            <ng-container matColumnDef="nombresoli">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombre Solicitud </th>
                                <td mat-cell *matCellDef="let convocatorias"> {{convocatorias.solicitudPracticas.nombreSolicitud
                                }}</td>
                            </ng-container>

                    

                            <ng-container matColumnDef="fechapublicacion">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha publicación </th>
                                <td mat-cell *matCellDef="let convocatorias"> {{convocatorias.fechaPublicacion}} </td>
                            </ng-container>

                            <!-- Weight Column -->
                            <ng-container matColumnDef="fechaexpiracion">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Expiración </th>
                                <td mat-cell *matCellDef="let convocatorias"> {{convocatorias.fechaExpiracion}}</td>
                            </ng-container>
                     
                            <ng-container matColumnDef="estadoConvocatoria">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Estado </th>
                                <td mat-cell *matCellDef="let convocatorias">
                                  <span *ngIf="convocatorias.estadoConvocatoria; else noAprobado"> Aprobada</span>
                                  <ng-template #noAprobado>Pendiente</ng-template>
                                </td>
                              </ng-container>
                            <!-- Symbol Column -->
                            <ng-container matColumnDef="opciones">
                                <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Solicitudes </th>
                                <td mat-cell *matCellDef="let convocatorias"> <button mat-raised-button color="primary" matStepperNext (click)="seleccionarConvocatoria(convocatorias)">Seleccionar</button></td>

                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        </div>
                        <mat-paginator #paginator1 [pageSizeOptions]="[2, 4, 6]" showFirstLastButtons aria-label="Select page of periodic elements">
                        </mat-paginator>
                    </mat-card>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup" >
                <ng-template matStepLabel>Fase 2</ng-template>
                <h1 style="margin-top: 20px; font-size: 25px;"> <strong>APROBACIÓN DE ESTUDIANTES</strong> </h1>

                <div style="display: flex; justify-content: center; align-items:center;">
                       <mat-card >
                        <div>
                            <h1 style="text-align: center;"> Listado de Estudiantes </h1>
                            <!-- <ng-container *ngIf="datosCargados.length > 0; else noResults"></ng-container> -->
                            <ng-container *ngIf="datosCargados">
                            <table mat-table [dataSource]="dataestudiante" class="mat-elevation-z8">
                                <!-- Position Column -->
                                <ng-container matColumnDef="id" >
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;" hidden> id</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria" hidden> {{listasolicitudconvocatoria.idSolicitudConvocatoria}} </td>
                                </ng-container>
                                <ng-container matColumnDef="nombres">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombres</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> {{listasolicitudconvocatoria.estudiantePracticante.usuario_estudiante_practicante?.nombres}} </td>
                                </ng-container>
                                <ng-container matColumnDef="apellidos">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellidos</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> {{listasolicitudconvocatoria.estudiantePracticante.usuario_estudiante_practicante?.apellidos }} </td>
                                </ng-container>
                                <!-- Name Column -->
                                <ng-container matColumnDef="fecha">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> {{listasolicitudconvocatoria.fechaEnvio}} </td>
                                </ng-container>

                                <!-- Weight Column -->
                                <ng-container matColumnDef="carrera">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> {{listasolicitudconvocatoria.estudiantePracticante.usuario_estudiante_practicante?.carrera}}</td>
                                </ng-container>

                                <ng-container matColumnDef="solis">
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Documento</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> <button mat-raised-button matStepperNext  (click)="seleccionarSolicitudC(datosTabla)">Descargar</button></td>
                                </ng-container>
                     
                                <ng-container matColumnDef="opciones" bol>
                                    <th mat-header-cell *matHeaderCellDef style="text-align: center;">Aprobar</th>
                                    <td mat-cell *matCellDef="let listasolicitudconvocatoria"> <button mat-raised-button color="primary" (click)="selectedestudinate(listasolicitudconvocatoria.idSolicitudConvocatoria)">Aprobar</button></td>

                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="displayedestudiante"></tr>
                                <tr
                                  mat-row
                                  *matRowDef="let row; columns: displayedestudiante"
                                ></tr>
                     
                            </table>
                            <mat-paginator #paginator2 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons aria-label="Select page of solicitudes">
                            </mat-paginator>
                        </ng-container>
                        
                        </div>

                        <div>
                            <h1 style="text-align: center;"> Estudiantes Aprobados </h1>
                            <ng-container *ngIf="datosCargadostrue">
                                <table mat-table [dataSource]="dataestudiantetrue" class="mat-elevation-z8">
                                    <!-- Position Column -->
                                    <ng-container matColumnDef="id" >
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" hidden> id</th>
                                        <td mat-cell *matCellDef="let listasolicitudconvocatoriatrue" hidden> {{listasolicitudconvocatoriatrue.idSolicitudConvocatoria}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nombres">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Nombres</th>
                                        <td mat-cell *matCellDef="let listasolicitudconvocatoriatrue"> {{listasolicitudconvocatoriatrue.estudiantePracticante.usuario_estudiante_practicante?.nombres}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="apellidos">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Apellidos</th>
                                        <td mat-cell *matCellDef="let listasolicitudconvocatoriatrue"> {{listasolicitudconvocatoriatrue.estudiantePracticante.usuario_estudiante_practicante?.apellidos }} </td>
                                    </ng-container>
                                    <!-- Name Column -->
                                    <ng-container matColumnDef="fecha">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Fecha Envio </th>
                                        <td mat-cell *matCellDef="let listasolicitudconvocatoriatrue"> {{listasolicitudconvocatoriatrue.fechaEnvio}} </td>
                                    </ng-container>
    
                                    <!-- Weight Column -->
                                    <ng-container matColumnDef="carrera">
                                        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Carrera</th>
                                        <td mat-cell *matCellDef="let listasolicitudconvocatoriatrue"> {{listasolicitudconvocatoriatrue.estudiantePracticante.usuario_estudiante_practicante?.carrera}}</td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="displayedestudiantetrue"></tr>
                                    <tr
                                      mat-row
                                      *matRowDef="let row; columns: displayedestudiantetrue"
                                    ></tr>
                                  
                                </table>
                                <mat-paginator #paginator3 [pageSizeOptions]="[3, 5, 7]" showFirstLastButtons aria-label="Select page of solicitudes">
                                </mat-paginator>
                            </ng-container>
                        </div>
                        <div style="margin-top:25px; text-align: center;">
                            <button style="margin-right: 12px"mat-raised-button color="primary" matStepperPrevious (click)="refreshPage()">
                            Back </button>
                        </div>
                    </mat-card>
                </div>
            </form>
        </mat-step>
    </mat-stepper>

</body>

</html>
