<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard Practicas Preprofesionales</title>
  <link rel="stylesheet" href="admin-dashboard.component.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
</head>

<body>
  <div class="left_sidebar">
  </div>

  <div class="main_container">
    <div class="mc_header">

      <div class="promo_card">
        <img
        src="assets/images/superlogo.jpg"
          alt="Logo TecAzuay" width="200px">
        <hr>
        <p><b style="font-family: 'Times New Roman', Times, serif;; font-size: 25px;">BIENVENIDO!</b><br>
          {{user_final}}</p> <br>
        <a href="https://www.tecazuay.edu.ec/main/index.php" class="btn3">Saber más</a>
      </div>


    </div>
    <div class="sprint_overview">




      <div class="title">
        <h1>Información General</h1>
      </div>
      <div class="sprint_overview_cards">
        <mat-card class="sprint_overview_card">
          <mat-card-header>
            <mat-card-title>¿Para qué sirve?</mat-card-title>
          </mat-card-header>
          <img mat-card-md-image style="border-radius: 5px;"
             src="assets/images/dashboard1.png">
          <mat-card-content>
            <p>Los estudiantes de carreras tecnológicas tendrán la oportunidad de
              adquirir experiencia práctica en un entorno real, permitiéndoles aplicar
              los conocimientos y habilidades adquiridos en su programa de estudios y
              desarrollar nuevas habilidades en el proceso.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sprint_overview_card">
          <mat-card-header>
            <mat-card-title>¿En qué ayudan?</mat-card-title>
          </mat-card-header>
          <img mat-card-sm-image style="border-radius: 5px;"
          src="assets/images/dashboard2.png">   
                 <mat-card-content>
            <p>Los estudiantes empezarán a establecer contactos valiosos en la industria
              tecnológica, lo que puede facilitar su transición al mercado laboral una vez
              que se gradúen.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sprint_overview_card">
          <mat-card-header>
            <mat-card-title>¿Cómo influyen?</mat-card-title>
          </mat-card-header>
          <img mat-card-sm-image style="border-radius: 5px;"
          src="assets/images/dashboard3.png">   
                 <mat-card-content>
            <p>Preparar a los estudiantes de carreras tecnológicas para el mundo laboral,
              proporcionándoles una comprensión más profunda de la industria y de los desafíos
              y oportunidades que enfrentan los profesionales en este campo.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sprint_overview_card">
          <mat-card-header>
            <mat-card-title>Sus beneficios</mat-card-title>
          </mat-card-header>
          <img mat-card-sm-image style="border-radius: 5px;"
          src="assets/images/dashboard4.png">        
            <mat-card-content>
            <p>Las prácticas pre-profesionales son una oportunidad para que los estudiantes adquieran experiencia
              práctica en un
              entorno profesional real, antes de graduarse de su programa de estudios.</p>
          </mat-card-content>
        </mat-card>

        <mat-card class="sprint_overview_card">
          <mat-card-header>
            <mat-card-title>¿Dónde se realizan?</mat-card-title>
          </mat-card-header>
          <img mat-card-sm-image style="border-radius: 5px;"
          src="assets/images/dashboard5.jpg">
                    <mat-card-content>
            <p>Estas prácticas se llevan a cabo en empresas, organizaciones sin fines de lucro,
              agencias gubernamentales u otras instituciones, y suelen tener una duración determinada, que puede variar
              desde unas pocas semanas
              hasta varios meses o incluso un año completo.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="team_members_container">
      <div class="title">
        <h1>Redes Sociales</h1>
      </div>
      <div class="team_members">
        <mat-card class="epic">
          <mat-card-title-group class="imgBx_s blue">
            <i class="fa fa-facebook-square"></i>
          </mat-card-title-group>
          <mat-card-content>

            <a href="https://www.facebook.com/TecAzuay/?locale=es_LA">Facebook</a>
          </mat-card-content>
        </mat-card>

        <mat-card class="epic">
          <mat-card-title-group class="imgBx_s blue">
            <i class="fa fa-instagram"></i>
          </mat-card-title-group>
          <mat-card-content>
            <a href="https://www.instagram.com/tecdelazuay/?hl=es">Instagram</a>
          </mat-card-content>
        </mat-card>

        <mat-card class="epic">
          <mat-card-title-group class="imgBx_s blue">
            <i class="fa fa-twitter-square"></i>
          </mat-card-title-group>
          <mat-card-content>
            <a href="https://twitter.com/TecAzuay?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a>
          </mat-card-content>
        </mat-card>

        <mat-card class="epic">
          <mat-card-title-group class="imgBx_s blue">
            <i class="fa fa-chrome"></i>
          </mat-card-title-group>
          <mat-card-content>
            <a href="https://www.tecazuay.edu.ec/main/index.php">TecAzuay</a>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
  <div class="right_sidebar">
    <div class="epics_container">

      <div class="title">
        <h4 style="font-family: 'Times New Roman', Times, serif;">Perfil de usuario</h4>
      </div>
      <div class="epics">
        <mat-card class="epic">
          <mat-card-title-group>

          </mat-card-title-group>
          <mat-card-content>
            <div class="profile">
              <img  src="assets/images/USUARIO.png" alt="profile_picture">
              <h4>{{user_final}}</h4>
            </div>
          </mat-card-content>
        </mat-card>

        <mat-card class="epic">
          <mat-card-title-group class="imgBx_s ">
            <i class="fas fa-address-card"></i>
          </mat-card-title-group>
          <mat-card-content>
            <li>ROL:</li>
            <p>{{ rol }}</p><br>
            <li>E-MAIL:</li>
            <p>{{ username }}</p><br>
          </mat-card-content>
          <button style="text-align: center" mat-raised-button color="warn" data-bs-toggle="modal"
            data-bs-target="#modal-formulario2">RESTABLECER CONTRASEÑA</button>
        </mat-card>



      </div>


    </div>

  </div>





</body>

</html>

<!-- MODAL   -->
<div class="modal" id="modal-formulario2" tabindex="-5" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1><strong>Restablecer Contraseña</strong></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="form-container" (ngSubmit)="onResetPassword()">
          <mat-form-field class="form-field">
            <input style="color: black;" matInput type="text" [(ngModel)]="captura" name="cedula" placeholder="Cédula"
              id="cedulausu" required />
          </mat-form-field>

          <mat-form-field class="form-field">
            <input style="color: black;" matInput type="email" id="correo" placeholder="CORREO"
              class="form-control, text" required name="correo" readonly [value]="captura2" />
            <!-- <p style="color: red;">Por favor, primero ingrese su identificación</p> -->
          </mat-form-field>

          <mat-form-field class="form-field">
            <input matInput type="password" [(ngModel)]="newPassword" name="newPassword" placeholder="Nueva contraseña"
              required />
          </mat-form-field>

          <button mat-raised-button color="primary" type="submit" data-bs-dismiss="modal">
            Restablecer contraseña
          </button>
          <p class="message" style="color: red;">{{ message }}</p>
        </form>
      </div>
    </div>
  </div>
</div>
